html { height: 100%; }
html body { height: 100%; font-size: 14px; margin: 0; padding: 0; background: #EAEFFF; }
html #logo { margin: auto; background: #FFFFFF url("/static/images/site/watermark.png"); }
html #navigation { font-family: "Trebuchet MS",Arial,tahoma,sans-serif; width: 100%; font-size: 15px; height: 54px; background: #003366; }
html #toplevel { height: 30px; margin: 0 auto; width: 100%; text-align: center; display: inline; }
html #toplevel ul { padding: 0; margin: 0; list-style: none; height: 30px; text-align: center; background: #336699; line-height: 30px; }
html #toplevel li { display: inline; position: relative; top: 2px; padding: 5px 13px 5px 13px; margin: 0px 5px; height: 28px; line-height: 28px; text-align: center; }
html #toplevel li a { text-align: center; text-decoration: none; color: #ffffff; padding: 0px 0px 5px 0px; }
html #toplevel li a:visited { text-align: center; text-decoration: none; color: #ffffff; }
html #toplevel li.selected { background: #003366; }
html #toplevel li.selected:hover { background: #003366; }
html #toplevel li:hover { background: #225588; }
html .submenu { font-size: 13px; height: 24px; display: none; clear: both; }
html .submenu ul { padding: 0; margin: 0; list-style: none; height: 24px; text-align: center; background: #003366; line-height: 24px; }
html .submenu li { display: inline; padding: 0; margin: 0; height: 24px; text-align: center; }
html .submenu li a { text-align: center; height: 18px; text-decoration: none; color: #ffffff; padding: 2px 7px 3px 10px; display: inline; }
html .submenu li a:visited { text-align: center; height: 18px; text-decoration: none; color: #ffffff; display: inline; }
html .submenu li a:hover { background: #002244; text-decoration: none; }
html #topbar { border-left: 1px #003366 solid; border-right: 1px #003366 solid; border-bottom: 1px #003366 solid; padding-bottom: 3px; background: #ADC3DB; }
html #topbar input { background: #DCE2ED; border: 1px #003366 solid; padding: 2px 3px; margin: 4px; }
html #topbar input.text { width: 200px; }
html #topbar .searchhelp { margin-left: 5px; }
html #header { text-align: center; }
html #content { margin: 0 10px 10px 10px; width: auto; }
html #userbar { float: left; padding: 5px 8px 5px 8px; }
html #searcharea { float: right; padding: 5px 8px; }
html .searchcontrol { text-align: left; float: left; padding-left: 15px; }
html #container { clear: both; padding: 12px 8px 20px 8px; width: auto; }
html #container li { margin-bottom: 5px; }
html #container #leftshadow { position: relative; top: -5%; left: -7%; width: 1%; background: url("/images/site/leftshadow.png") repeat-y; height: 110%; }
html #infobar { float: right; width: 300px; border-left: 1px solid #003366; padding-left: 8px; margin-left: 12px; height: 100%; overflow: auto; }
html div #rightshadow { position: absolute; top: 0%; right: 101%; width: 10px; background: url("/images/site/leftshadow.png") repeat-y; height: 100%; }
html #footer { clear: both; background: #003366; color: #FFFFFF; font-size: 12px; padding: 5px 10px; text-align: left; }
html #footer a { color: #ffffff; }
html #footer a:visited { color: #ffffff; }
html #footer-right { float: right; }
html #messages { display: block; font-size: 12px !important; margin: 0 0 3px; padding: 4px 25px 4px 25px; }
html .message { border: solid 3px #003366; padding: 10px; background: #336699; color: #FFFFFF; }
html .exam { text-align: center; }
html .unpublishable { background: #EEFF99; border: 1px solid #BBCC66; }
