{% extends "event/base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/css/calvis.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.cluetip.css">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.cluetip.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.livequery.js"></script>
<script id="calvis_script" type="text/javascript" src="{{STATIC_PREFIX}}js/hkn-calvis-core.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/tutoring.js"></script>
{% endblock %}

{% block title %}{{ block.super }} - Calendar {% endblock %}
{% block subtitle %} HKN Events Calendar {% endblock %}

{% block content %}
 <div id="infobar">
  <h5>Event Categories</h5>
  <ul>
  {% for type, description in event_types %}
    <li>
      <a class="{{type}}"  onclick="return locklight('{{type}}')" onmouseout="unhighlight('{{type}}')" onmouseover="highlight('{{type}}')" href="#">
    {{ description }}</a>
    </li>
  {% endfor %}
  </ul>
 </div>
<a class="small" href="{% url event-calendar-ics %}">iCal</a>

  <table style="width: 800px;">
    <tr>
      <td valign="top">
        <div id="navControlDiv"></div>
      </td>
      <td valign="top" align="left">
	      <div id="statusControlDiv"></div>
	  </td>
      <td valign="top">
        <div id="viewControlDiv" align="right" style="padding-right: 4px"></div>
      </td>
    </tr>
    <tr>
      <td colspan="3" valign="top">
        <div id="calendarBodyDiv"></div>
      </td>
    </tr>
  </table>
  <div id="eventDisplayDiv"></div>



<script type="text/javascript">
$('#calvis_script').ready( function() {
		var calendar = new calvis.Calendar();
		
		calendar.setCalendarBody('calendarBodyDiv');
		calendar.setStatusControl('statusControlDiv');
		calendar.setNavControl('navControlDiv');
		calendar.setViewControl('viewControlDiv');
		calendar.eventDisplayId = 'eventDisplayDiv';
		
		$('.eventDiv').livequery( function () {
			$(this).cluetip({local: true, hideLocal: true});
		});
		
		function displayEvent(event) {    
		  var title = event["title"]
		  var content = "@ " + event["location"] + "<br>" + event["description"]
		  var date = event["start_time"]
		  
		  var eventHtml = [];
		  eventHtml.push(event["time_string"]);
		  eventHtml.push('<p class="small">');
		  eventHtml.push(content); 
		  eventHtml.push('</p>');
		  eventHtml.push('<br>');
		
		  document.getElementById('eventDisplayDiv').innerHTML = eventHtml.join('');
		}
		
		calendar.setEventCallback('mouseover', displayEvent);

		// set the default view to be "month"
		calendar.setDefaultView('month');

		// display the calendar
		calendar.render(); 		
});
</script>

{% endblock %}

