{% extends "info/hkn.html" %}

{% block extratitle %} - Event List{% endblock %}

{% block extrahead %}
<link href="/css/list.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<script language="javascript">
function show_rsvp_form(event_id) {
	new Ajax.Updater("rsvp_" + event_id, "/event/rsvp_form/", {method: 'post', parameters : {"event_id" : event_id}, asynchronous:true});
}

function submit_rsvp(eid) {
	params = Form.serialize("event." + eid, true)
	new Ajax.Updater('rsvp_'+eid, "/event/rsvp_form/", {method : "post", parameters: params})
}

</script>

<table class="list"><tr>
<th>Name</th>
<th>Description</th>
<th>Time</th>
<th>Event Type</th>
</tr>
{% for event in events %}
<tr>
<td>{{ event.name }}<br><span style="font-size: 10">(<a href="javascript:void(0)" onclick="show_rsvp_form({{event.event_id}});">rsvp</a> <a href="/event/edit/{{ event.event_id}}">edit</a>)</span></td>
<td>{{ event.description }}<BR><div id="rsvp_{{event.event_id}}"> </div></td>
<td>{{ event.start_time|date:"l m/d g:ia" }}-{{ event.end_time|date:"g:ia" }}</td>
<td><a href="?event_type={{ event.event_type }}">{{ event.get_event_type }}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
