{% extends "event/base.html" %}
{% load ajaxtable %}

{% block subtitle %}{{category|title}} Events{% endblock %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
{% endblock %}

    	{% block searchbar %}
	    	<div class="searchcontrol">
    			<label>Search Events</label>
		        {% control search %}
			</div>		        
		{% endblock %}


{% block content %}
    {% ajaxwrapper events %}
        {% control pager %}
        {% control notify %}
        {% control spinner %}
        {% ajaxtable events "event/ajax/_list_events_header.html" "event/ajax/_list_events_row.html" %}
        {% control pager %}
    {% endajaxwrapper %}
{% endblock %}

