{% extends "event/base.html" %}
{% load ajaxtable %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
<script language="javascript">
ajaxlist_get_url = "{% url rsvp-list-for-event-small event.id %}";
</script>
{% endblock %}

{% block content %}
<div id="details" class="two_column">
	<h1>{{event.name}}</h1>
	<div class="subheader">{{ event.get_event_type }}</div>
	<div class="spacer">&nbsp;</div>	
	<table>
		<tr>
			<div id="date">
				<td><label>Date</label></td>
				<td><span>{{ event.start_time|date:"l m/d g:ia" }}-{{ event.end_time|date:"g:ia" }}</span></td>
			</div>
		</tr><tr>		
			<div id="location">
				<td><label>Location</label></td>
				<td><span>{{event.location}}</span></td>
			</div>	
		</tr><tr>
			<td colspan="2">{{event.description|linebreaks}}</td>
		</tr>
	</table>
</div>
<div id="rsvps" class="two_column right_column">
	<h1>RSVPs</h1>
	{% if can_rsvp %}<div class="subheader"><a href="{% url rsvp-new event.id %}">rsvp</a></div>{% endif %}
	<div class="spacer">&nbsp;</div>
	<div>
		<ul class="plain">
			{% for rsvp in rsvps %}
				<li><a href="{% url person-view rsvp.person.username %}">{{rsvp.person.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div style="clear: both"></div>
{% endblock %}
