{% extends "hkn.html" %}

{% block extrahead %}
<link href="/css/list.css" rel="stylesheet" />

<script language="javascript">
function filter(sort, page, max, category, query) {
	objects_url = "{{ objects_url }}"

	parameters = {"sort" : sort, "page" : page, "max" : max, "category" : category, "query" : query};
	$("objects_div").load("{{ objects_url }}", 	parameters, function() {
		alert("loaded");
	});
	return false;
}

function queryOnEnter(e, sort, page, max, category) {
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;
	if (keycode == 13) {
		element = e.srcElement || e.target
		filter(sort, page, max, category, element.value);
		return false;
	}
	return true;
}
</script>
{% endblock %}

{% block body_extra %} onLoad='filter("{{ sort }}", "{{ page }}", "{{ max }}", "{{ event.id }}", "{{ query|escape }}");' {% endblock %}


{% block content %}
<table width="100%">
<tr>
<td valign="top">
Event Info:
<br/>
<br/>Name: {{event.name}}
<br/>Date: {{ event.start_time|date:"l m/d g:ia" }}-{{ event.end_time|date:"g:ia" }}
<br/>Location: {{event.location}}
<br/>Event Type: {{ event.get_event_type }}
<br/>Description: {{event.description}}
<br/>
</td>
<td>
<div id="rsvps_div">
</div>
</td>
</tr>
</table>

{% endblock %}