<html>
<head>
<title>HKN - Login</title>
</head>

<body text="#000000" bgcolor="#ffffff" link="#0000cc" vlink="#0000cc" alink="#0000cc">
<form action="/authenticate/" method="post" enctype="multipart/form-data">
<table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" width="100%%"><tr><td align="center"><center><img src="http://hkn.eecs.berkeley.edu/images/shield_medium.gif" alt="HKN Logo" width="187" height="244" /><br />
  <font color="red">Logged out!</font><br />
</center></td>
</tr>
</table>
</form>
</body></html>
