<html>
<head>
<title>HKN - Login</title>
</head>

<body text="#000000" bgcolor="#ffffff" link="#0000cc" vlink="#0000cc" alink="#0000cc">
<form action="" method="post" enctype="multipart/form-data">
<table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" width="100%%"><tr><td align="center"><center><img src="http://hkn.eecs.berkeley.edu/images/shield_medium.gif" alt="HKN Logo" width="187" height="244" /><br />
  <font color="red">{% if form.has_errors %} Username and password did not match. Please try again. {% endif %}</font><br />
<table bgcolor="#ffffff" border="0" width="350"><tr><td bgcolor="#ece9d8" align="center"><b>HKN Login</b>
</td>
</tr>
<tr><td bgcolor="#ffffff" align="left">
<table bgcolor="#ffffff" align="center" border="0" width="100%%"><tr><td align="right" width="30%%">Username:</td>
<td align="left" width="*">{{form.username}}
</td>
</tr>

<tr><td align="right" width="30%%">Password:</td>
<td align="left" width="*">{{form.password}}
</td>
</tr>

</table>
</td>
</tr>

<input type="hidden" name="next" value="{{ next }}" />

<tr><td align="left"><center><input type="submit" value="Login" />
</center></td>
</tr>
</table>
</center></td>
</tr>
</table>
</form>
</body></html>
