{% extends "registration/base.html" %}
{% block title %}Password Reset | {{block.super}}{% endblock %}
{% block subtitle %}{% if validlink %}Confirm Password Reset{% else %}Password Reset Unsuccessful{% endif %}{% endblock %}

{% block content %}
{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly</p>

<form action="" method="post">
{% include "form_snippet.html" %}
<input type="submit" value="Change my password" />
</form>

{% else %}
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %}
