{% extends "base.html" %}
{% load ajaxtable %}

{% block subtitle %} Requests - {{category|title}}{% endblock %}

{% block css %}
{{ block.super }}
<link href="{{STATIC_PREFIX}}request/request.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
<script type="text/javascript" src="{{STATIC_PREFIX}}request/request.js"></script>
<script type="text/javascript">
ajaxlist_checkbox_post_address = "{% url request-ajax-confirm %}";
</script>
{% endblock %}

{% block searchbar %}
{% control search %}
{% endblock %}
{% block content %}
    {% ajaxwrapper requests %}
        {% control notify %}
        {% control spinner %}
		{% if requests %}
		{% control pager %}
        {% ajaxtable requests "request/ajax/_request_header.html" "request/ajax/_request_row.html" %}
		{% control pager %}
		{% else %}
		No requests
		{% endif %}
        <script type="text/javascript">
            $(document).ready( register_request );
        </script>
    {% endajaxwrapper %}
{% endblock %}

