{% extends "base.html" %}
{% load ajaxtable %}

{% block subtitle %} Requests - {{category|title}}{% endblock %}

{% block css %}
{{ block.super }}
<link href="{{STATIC_PREFIX}}css/request.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
<script type="text/javascript" src="{{STATIC_PREFIX}}js/request.js"></script>
<script type="text/javascript">
ajaxlist_checkbox_post_address = "{% url request-ajax-confirm %}";
</script>
{% endblock %}


{% block content %}
    {% ajaxwrapper requests %}
        {% control search %}
        {% control pager %}
        {% control notify %}
        {% control spinner %}
        {% ajaxtable requests "request/ajax/_request_header.html" "request/ajax/_request_row.html" %}
        {% control pager %}
    {% endajaxwrapper %}
{% endblock %}

