{% extends "exam/exam.html" %}

{# The internal Exam Files committee page. Note: The pre-Fall 2007 website does not have an analog to this page. #}

{% block subtitle %}Exam Files - Committee{% endblock %}

{% block examcontent %}
Check here for committee-specific news, updates, etc.<br>

<DL>
<DT><STRONG>Announcements</STRONG>
<DT>Spring 2008 (clay)
<DD>12-31-2007: Please poke around the exam files pages and let me know what you think. Also, let me know if you'd like to help flush these pages out!<br>
</DL>

{% endblock %}