{% extends "exam/exam.html" %}

{# The Exam Files Frequently Asked Questions (FAQ) page. Note: The pre-Fall 2007 website does not have an analog to this page. #}

{% block subtitle %}Exam Files - Frequently Asked Questions{% endblock %}

{% block examcontent %}

<DL>
<DT><STRONG>Why are exams missing from the archive / not posted online?</STRONG>
<DD>Though we try to do as complete a job as possible, exam files heavily relies on student submissions, and we simply may not have the exam you're looking for. It is also possible that the professor of a course for a particular semester has asked HKN not to publicly post their exam and/or solutions.
<DT><STRONG>I've got some old exams I'd like to donate...</STRONG>
<DD>We are very appreciative of any exam donations you can contribute, whether paper or digital! You can drop paper exams at the HKN offices, located at 290 Cory and 345 Soda during the day, or use this <a href="../submit/">form</a> to submit online.
<DT><STRONG>HKN Candidates: So what's this "exam conversion" business?</STRONG>
<DD>One of the candidate requirements here at Mu Chapter involves submitting an exam to the exam files database. Detailed information can be found <a href="../conversion/">here</a> (sorry, not written yet).
<DT><STRONG>How do I convert an exam from paper to PDF?</STRONG>
<DD>Instructions can be found <a href="../conversion">here</a> (sorry, not written yet).
<DT><STRONG>I am a professor and do not want my exams posted online. What do I need to do to have the exam taken down?</STRONG>
<DD>It is HKN policy to post exams only with the permission of the professor of the course that semester. If we have erroneously posted your exams online, please let us know at <a href="mailto:examfiles@hkn.eecs.berkeley.edu">examfiles@hkn</a> and we will immediately remove the offending exam.
<DT><STRONG>Dude, HKN rocks! How can I get involved?</STRONG>
<DD>Thanks! If you'd like to help us out, consider joining the HKN Exam Files Committee. We're the coolest people in the universe. Yes, seriously.
<DT><STRONG>I have suggestions and/or unanswered questions about the services, policies, and/or people of the Exam Files committee. Who do I contact?</STRONG>
<DD>We are always looking for constructive feedback! Please send any questions to <a href="mailto:examfiles@hkn.eecs.berkeley.edu">examfiles@hkn</a>.
</DL>

{% endblock %}