{% extends "exam/exam.html" %}

{# The main Exam Files page. Note: The pre-Fall 2007 website does not have an analog to this page. #}

{% block subtitle %}Exam Files - Home{% endblock %}

{% block examcontent %}
Check here for general news, updates, etc. about the HKN Exam Files committee.<br>

<DL>
<DT><STRONG>Announcements</STRONG>
<DT>Spring 2008
<DD>01-02-2008: Flushed out main, committee, onlineexams, faq, and submit. (Happy New Year!)
<DD>12-31-2007: Main page and FAQ skeletons posted. "Website Goals" posted.<br>
</DL>

<HR>

<big>Wobsite</big>
<DL><DT><STRONG>GOALS</STRONG>
<DT><STRONG>Look and Feel</STRONG>
<DD>It's time to make Exam Files look civilized. (Or at least, not savage.)
<DT><STRONG>Online Exam Submission</STRONG>
<DD>A new online submission form integrated with the candidate process.
<DD>Old draft: <a href="http://hkn.berkeley.edu/~kmowery/exams/exam-submit.cgi">http://hkn.berkeley.edu/~kmowery/exams/exam-submit.cgi</a>
<DT><STRONG>Streamlined Exam Posting</STRONG>
<DD>A new approval mechanism for Exam Files officer(s) to ensure only valid and permitted exams are posted online.
<DT><STRONG>Improved Search</STRONG>
<DD>Search the online exams archive by class, professor, and related topics.
</DL>


<DL><DT><STRONG>Open Issues</STRONG>
<font color="red">
<DD>Online exam page "/exam/onlineexams/" sometimes does not fully load. (try refreshing many times)
<DD>Need some way to track candidate "exam conversion" requirement status.
<DD>Need some way to track which exams/solutions are missing from database.
<DD>Need some way to track exam permissions / which exams we can post online.
</font>
</DL>


<DL><DT><STRONG>Exam Files Pages</STRONG>
<DT><STRONG>/exam/main/</STRONG> General exam files announcements, news, etc. [Complete, but kinda bare.]
<DD>Change "Announcements" to a blag/publishing widget?
<DD>Add an RSS feed?

<DT><STRONG>/exam/committee/</STRONG> Internal exam files announcements, news, etc. [Complete, but also bare. Don't expect to use much though.]
<DD>Change "Annoucements" to a blag?
<DD>Member login/authentication?
<DD>RSS feed?

<DT><STRONG>/exam/onlineexams/</STRONG> Online exams page. [Functional. Hooked into old website.]
<DD>Make it pretty, make it nice. <font color="red">Waiting on new exam files database.</font>
<DD>Find new course pre-requisite charts (old ones are from 2001!).

<DT><STRONG>/exam/faq/</STRONG> A general exam files information page. [Essentially complete.]
<DD>Flush out more "frequently asked" questions.
<DD>Fix links to "conversion" page when ready.

<DT><STRONG>/exam/submit/</STRONG> Online submissions page. [Incomplete.]
<DD>De-savagify.
<DD>Needs entire back-end. <font color="red">Waiting on new exam files database.</font>

<DT><STRONG>/exam/conversion/</STRONG> Detailed info on exam files candidate requirement, paper-to-PDF, etc. [Not even created yet.]
<DD>Add info on candidate "exam conversion" requirement.
<DD>Add info on "paper-to-PDF" process.
<DD>Integrate with faq page?
</DL>

{% endblock %}