{% extends "exam/exam.html" %}

{# The title online exams page. Note: The pre-Fall 2007 website does not have an analog to this page. #}

{# Development notes #}

Database

Look and Feel
-Update pre-req images (current images are from 2001!)
-General prettiness

Search
-by class [DONE]
-by professor
-by exam type (i.e., MT1, MT2, MT3, MT4, FINAL, review material)

{# END Development notes #}



{% block subtitle %}Exam Files - Online Exams{% endblock %}

{% block examcontent %}
<p>
As a service to the Berkeley EECS community, HKN maintains a publicly available archive of EECS exams from past semesters. If you have any questions about exam files, please check out our <a href="../faq/">FAQ page</a>.
<p>
And if you don't find what you're looking for here, you might also try Tau Beta Pi's <a href="http://tbp.berkeley.edu/">Test Files</a> service.
</p>


{# Pre-Spring 2008 Website Code #}
  Electrical Engineering<BR>
  <MAP NAME="eemap1">
      <AREA SHAPE="circle" COORDS="331,325,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee123">
      <AREA SHAPE="circle" COORDS="296,325,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee121">
      <AREA SHAPE="circle" COORDS="261,325,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee126">
      <AREA SHAPE="circle" COORDS="193,325,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee122">
      <AREA SHAPE="circle" COORDS="158,325,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee104">

      <AREA SHAPE="circle" COORDS="131,263,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee140">
      <AREA SHAPE="circle" COORDS="96,263,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee141">
      <AREA SHAPE="circle" COORDS="62,263,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee143">
      <!--<AREA SHAPE="circle" COORDS="361,203,17" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee117B">-->
      <AREA SHAPE="circle" COORDS="84,210,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee130">
      <AREA SHAPE="circle" COORDS="22,148,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee145M">
      <AREA SHAPE="circle" COORDS="125,148,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee145L">
      <AREA SHAPE="circle" COORDS="159,148,15" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee145B">
      <AREA SHAPE="circle" COORDS="246,148,22" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee105">

      <AREA SHAPE="circle" COORDS="321,148,22" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee120">
      <AREA SHAPE="circle" COORDS="396,148,22" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs150">
      <AREA SHAPE="circle" COORDS="470,148,22" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee117A">
      <AREA SHAPE="circle" COORDS="271,76,22" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee40">
      <AREA SHAPE="circle" COORDS="169,39,22" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee20N">
      <AREA SHAPE="rect" COORDS="13,80,62,95" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61B">
      <AREA SHAPE="rect" COORDS="396,83,446,98" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61C">
      <AREA SHAPE="rect" COORDS="234,254,283,270" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61B">
      <AREA SHAPE="rect" COORDS="443,273,492,288" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61B">

  </MAP><IMG SRC="http://hkn.berkeley.edu/student/ee-prereq-chart1.gif" WIDTH="500" HEIGHT="390" ALIGN="BOTTOM"
  BORDER="1" NATURALSIZEFLAG="3" ISMAP ALT="Electrical Engineering Courses"
  USEMAP="#eemap1">


  <TABLE BORDER=0 CELLPADDING=5>
  <TR><TD VALIGN=TOP>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee20N"> EE20N </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee40"> EE40 </A><BR> 
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee42"> EE42 </A><BR>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee100"> EE100 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee104"> EE104 </A><BR>
  </TD><TD VALIGN=TOP>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee105"> EE105</A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee117A"> EE117A </A><BR>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee117B"> EE117B </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee118"> EE118 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee120"> EE120 </A><BR>
  </TD><TD VALIGN=TOP>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee121"> EE121 </A><BR>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee122"> EE122 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee123"> EE123 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee126"> EE126 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee130"> EE130 </A><BR>
  </TD><TD VALIGN=TOP>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee140"> EE140 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee141"> EE141 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee142"> EE142 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee143"> EE143 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee145B"> EE145B </A><BR>

  </TD><TD VALIGN=TOP>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee145L"> EE145L </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee145M"> EE145M </A><BR>
  </TD></TR>
  </TABLE>

  <BR><BR>

  Computer Science <BR>
  <MAP NAME="csmap1">
      <AREA SHAPE="circle" COORDS="452,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs174">
      <AREA SHAPE="circle" COORDS="415,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs172">
      <AREA SHAPE="circle" COORDS="359,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs188">
      <AREA SHAPE="circle" COORDS="322,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs186">
      <AREA SHAPE="circle" COORDS="284,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs184">
      <!--<AREA
SHAPE="circle" COORDS="206,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs169">-->

      <AREA SHAPE="circle" COORDS="167,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs164">
      <AREA SHAPE="circle" COORDS="129,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs162">
      <AREA SHAPE="circle" COORDS="90,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs160">
      <AREA SHAPE="circle" COORDS="37,340,18" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs152">
      <AREA SHAPE="circle" COORDS="432,240,26" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs170">
      <AREA SHAPE="circle" COORDS="37,240,26" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs150">
      <AREA SHAPE="circle" COORDS="37,148,26" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?ee40">
      <AREA SHAPE="circle" COORDS="311,145,26" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61C">

      <AREA SHAPE="circle" COORDS="170,145,26" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61B">
      <AREA SHAPE="circle" COORDS="428,96,26" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs70">
      <AREA SHAPE="circle" COORDS="170,62,26" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61A">
      <AREA SHAPE="rect" COORDS="39,32,61,46" HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs3">
  </MAP><IMG SRC="http://hkn.berkeley.edu/student/cs-prereq-chart1.gif" WIDTH="500" HEIGHT="397" ALIGN="BOTTOM"
  BORDER="1" NATURALSIZEFLAG="3" ALT="Computer Science Courses"
  ISMAP USEMAP="#csmap1">

  
  <TABLE BORDER=0 CELLPADDING=5>
  <TR><TD VALIGN=TOP>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs3"> CS3 </A><BR>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61A"> CS61A </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61B"> CS61B </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs61C"> CS61C </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs70"> CS70 </A><BR>
  </TD><TD VALIGN=TOP>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs150"> CS150 </A><BR>  
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs152"> CS152 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs160"> CS160 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs161"> CS161 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs162"> CS162 </A><BR>

  </TD><TD VALIGN=TOP>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs164"> CS164 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs169"> CS169 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs170"> CS170 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs172"> CS172 </A><BR>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs174"> CS174 </A><BR>
  </TD><TD VALIGN=TOP>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs182"> CS182 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs184"> CS184 </A><BR>
  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs186"> CS186 </A><BR>

  <A HREF="http://hkn.eecs.berkeley.edu/cgi-bin/exam-query.cgi?cs188"> CS188 </A><BR>
  </TD></TR>
  </TABLE>
{# END Pre-Spring 2008 Website Code #}

{% endblock %}