<tr class="headrow"><td>
	<div class="name">
		<a rel="{% url event-infobox event.id %}" href="{% url event-view event.slug %}" style="display: block">{{event.name}}</a>
	</div>
	<div class="day">
		{{event.start_time|date:"l" }}
	</div>
</td></tr>

<tr class="linksrow"><td>
	<div class="time_location">
		{{event.start_time|date:"f"}}-{{event.end_time|date:"f"}} @ {{event.location}}
	</div>
    <div class="links small">
		[
		{% if not event.rsvp_none %}
			{% if user.is_authenticated %}
				&nbsp;<a href="javascript:rsvpForm({{event.id}});" title="click to RSVP!">rsvp</a>&nbsp;|
			{% endif %}
	        &nbsp;<a href="javascript:showRSVP({{event.id}});" title="{{event.rsvp_count}} RSVP{{event.rsvp_count|pluralize}} (click to view)">see rsvps</a>&nbsp;|
	    {% endif %}
		&nbsp;<a href="javascript:showInfo({{event.id}});" title="more information about this event">info</a>&nbsp;
		<!--<a href="javascript:hide({{event.id}});" title="hide">&#187;</a> -->
		]
	</div>	    		
	<div style="clear: both"></div>	
</td></tr>

<tr><td>
	<div id="event_{{event.id}}" style="display: none"></div>
</td></tr>
