<div id="examfiles" class="searchcontrol">
    <form action="{% url exam-list %}" method="GET">
        {{ EXAM_FILES_AUTOCOMPLETE|safe }}<input class="button" type=submit value=" Search ">
    </form>
    <div class="small searchhelp" rel="#exams_search_help">
        ex: CS 61a, ee 20, cs 188
    </div>
	{% comment %}
    <div style="display: none" id="exams_search_help">
        Try searching for courses like: PHYS7B, MATH 54, CS 61A, or EE20N
    </div>
	{% endcomment %}
</div>
<div id="coursesurvey" class="searchcontrol">
    <form action ="/student/CourseSurvey/search" method="GET">
        <input class="autoclear text" type=input class="autoclear" name="n" value="Search Course Surveys"><input type="hidden" value="l1" name="sb"/><input type="hidden" value="1" name="recent"/><input type="hidden" value="1" name="sip"/><input type="hidden" value="1" name="sit"/><input type="hidden" value="1" name="sc"/><input type="hidden" value="1" name="sct"/><input class="button" type=submit value=" Search ">
    </form>
    <div class="small searchhelp" rel="#survey_search_help">
        ex: Hilfinger, hilf*, cs 61a
    </div>
    {% comment %}
	<div style="display: none" id="survey_search_help">
        Try searching for courses or instructors! Example
    </div>
	{% endcomment %}
</div>
{% comment %}
<div style="clear:both">
    <h3>Search for review problems!</h3>
    <div class="flushheader">
        <form action="{% url review-search %}" method="GET">
            <input type=input name="query"><input type=submit value=" Search ">
        </form>
        <div class="small">
            search for courses or topics e.g. CS61C, fourier series
        </div>
    </div>
</div>
{% endcomment %}
