    <tr class="head">
        <td class="name"><div><a rel="{% url event-infobox event.id %}" href="{% url event-view event.slug %}" style="display: block">{{event.name}}</a></div></td>    
        <td class="day"><div>{{event.start_time|date:"l" }}</div></td>
    </tr>
    <tr class="tail">
		<td class="time_location">
			<div>
				{{event.start_time|date:"f"}}-{{event.end_time|date:"f"}} @ {{event.location}}
			</div>
			<div class="spacer"> &nbsp; </div>				
		</td>		    
    	<td class="links small">
    		<div>
	    		{% if not event.rsvp_none %}
	    			<a href="javascript:rsvpForm({{event.id}});" title="click to RSVP!">&#187;</a>
		    		{% with event.rsvp_set.count as num_rsvps %}
			    		<a href="javascript:showRSVP({{event.id}});" title="{{num_rsvps}} RSVP{{num_rsvps|pluralize}} (click to view)">&#187;</a>	    		
			    	{% endwith %}
			    {% endif %}
	    		<a href="javascript:showInfo({{event.id}});" title="more information about this event">&#187;</a>
	    		<a href="javascript:hide({{event.id}});" title="hide">&#187;</a>	    		
			</div>	    		
		</td> 
	</tr>	
    <tr>
    	<td colspan="2"><div id="event_{{event.id}}" style="display: none"></div></td>
    </tr>