{% extends "main/base.html" %}
{% load webdesign %}
{% load markup %}
{% load hkn_extras %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/landing.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/tutor.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/info.css">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_PREFIX}}js/tutoring.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/landing.js"></script>
<script type="text/javascript">
$(document).ready( function() {
$('.infobox').cluetip({
      width: 310,
      local: true
});
$('.infobox_help').cluetip({
      width: 210,
      local: true,
      showTitle: false
});
});
</script>
{% endblock %}

{% block searchbar %}
{% include "main/_landing_searchbar.html" %}	
{% endblock %}

{% block container %}
<div id="container">
	<div id="infobar">
		<h1>Latest News</h1>
		<p>Congratulations to all of the new Fall 2009 initiates! Thanks for all of the great memories throughout the semester. We hope you all have a great winter break and we look forward to seeing you next semester! We'll keep you posted on when the first members' meeting will be.</p>
		
		<div class="section">
			{% include "main/_landing_event.html" %}
		</div>
		{% if not hide_tutoring %}
		<div class="section">
			{% include "main/_landing_tutor.html" %}
			<div class="small infobar_links"><a href="{% url tutor-view-schedule %}">view full schedule</a></div>
		</div>
		{% endif %}
	</div>
    {% render_in_context content %}
    {{ content }}
    <div style="clear:both"></div>
</div>
{%endblock %}

