{% extends "main/base.html" %}
{% load webdesign %}
{% load markup %}
{% load hkn_extras %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/landing.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/tutor.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/info.css">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_PREFIX}}js/tutoring.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/landing.js"></script>
<script type="text/javascript">
$(document).ready( function() {
$('.infobox').cluetip({
      width: 310,
      local: true
});
$('.infobox_help').cluetip({
      width: 210,
      local: true,
      showTitle: false
});
});
</script>
{% endblock %}

{% block searchbar %}
{% include "main/_landing_course.html" %}	
{% endblock %}

{% block container %}
<div id="container">
	<div id="infobar">
		<h1>Latest News</h1>
		<p>HKN is selling $10 EECS T-Shirts in 345 Soda. Buy yours today before they run out!</p>
		
		<div class="section">
			{% include "main/_landing_event.html" %}
			<span class="small"><a href="{% url event-list %}">view all events</a> | <a href="{% url event-calendar %}">view events calendar</a></span>
		</div>
		{% if not hide_tutoring %}
		<div class="section">
			{% include "main/_landing_tutor.html" %}
			<span class="small"><a href="{% url tutor-view-schedule %}">view full schedule</a></span>
		</div>
		{% endif %}

	</div>
    {% render_in_context content %}
    {{ content }}
</div>
{%endblock %}

