{% extends "ajaxlist/_objects_view.html" %}

{% block objects_content %}

{% if show_confirm_form %}
<form id="confirmation_form" action="{% url hkn.event.rsvp.list.list_for_event_ajax %}" method="post">
<input type="hidden" name="sort" value="{{sort}}" />
<input type="hidden" name="page" value="{{page}}" />
<input type="hidden" name="max" value="{{max}}" />
<input type="hidden" name="category" value="{{category}}" />
<input type="hidden" name="query" value="{{query}}" />
<input class="button" type=submit value="save">
{% endif %}

<table class="ajaxlist_list"><tr>
<th>Name</th>
<th>Phone</th>
<th>Comment</th>
{% if event.rsvp_block %} <th>Time Blocks</th> {% endif %}
{% if event.rsvp_transportation_necessary %} <th>Transport</th> {% endif %}
{% if show_confirm_form %} <th>VP Comment</th> {% endif %}
</tr>

{% for rsvp in rsvps %}
<tr>
	<td> {% if show_confirm_form %} <input type=checkbox name="{{rsvp.id}}.vp_confirm" {% if rsvp.vp_confirm %} checked="yes" {% endif %} /> {% endif %} 
	<img id="toggle_{{ rsvp.id }}" src="{{STATIC_PREFIX}}images/site/plus.gif" onClick='toggleOptionsDiv("options_{{rsvp.id}}", "toggle_{{rsvp.id}}")' /> 
	{{ rsvp.person.name }}
	<div id="options_{{ rsvp.id }}" style="display: none; font-size:10">
		<br>rsvp: <a href="{% url hkn.event.rsvp.rsvp.view rsvp.id %}">view</a> <a href="{% url hkn.event.rsvp.rsvp.edit rsvp.event_id %}">edit</a> <a href="{% url hkn.event.rsvp.rsvp.delete rsvp.id %}">del</a> 
		<br>event: 
	</div>	
	</td>
	
	<td>{{ rsvp.person.extendedinfo.get_phone }}</td>
	<td> {{ rsvp.comment }} </td>
	{% if event.rsvp_block %} <td> {{ rsvp.get_block_descriptions }} </td> {% endif %}
	{% if event.rsvp_transportation_necessary %} <td> {{ rsvp.transport }} </td> {% endif %}
	{% if show_confirm_form %} <td><input type=text name="{{rsvp.id}}.vp_comment" value="{{rsvp.vp_comment}}"/></td> {% endif %}
</tr>
{% endfor %}
</table>

{% if show_confirm_form %}
<input class="button" type=submit value="save">
</form>

<script language="javascript">
$('#confirmation_form').ready(function() {	       
	$('#confirmation_form').ajaxForm(function(data) { 
		$('#objects_div').html(data);
	}); 
});
</script>
{% endif %}

{% endblock %}
