{% extends "list/list_objects.html" %}

{% block objects_content %}

{% if show_confirm_form %}
<form id="confirmation_form" action="{% url hkn.event.rsvp.list.list_for_person_ajax %}" method="post">
<input type="hidden" name="sort" value="{{sort}}" />
<input type="hidden" name="page" value="{{page}}" />
<input type="hidden" name="max" value="{{max}}" />
<input type="hidden" name="category" value="{{category}}" />
<input type="hidden" name="query" value="{{query}}" />
<input class="button" type=submit value="save">
{% endif %}

<table class="list"><tr>
<th>Event Name</th>
<th>Time</th>
<th>Comment</th>
<th>Transport</th>
<th>Time Blocks</th>
{% if show_confirm_form %} <th>VP Comment</th> {% endif %}
</tr>

{% spaceless %}
{% for rsvp in rsvps %}
<tr>
	<td> 
		{% if show_confirm_form %} 
			<input type=checkbox name="{{rsvp.id}}.vp_confirm" {% if rsvp.vp_confirm %} checked="yes" {% endif %} /> 
		{% endif %} 
		{{ rsvp.event.name }}
		<br><span style="font-size: 10">
		(<a href="{% url hkn.event.rsvp.rsvp.view rsvp.id %}">view</a> 
		<a href="{% url hkn.event.rsvp.rsvp.delete rsvp.id %}">del</a>
		<a href="{% url hkn.event.rsvp.rsvp.request_confirmation rsvp.id %}">confirm</a>)
		</span></td>
	<td> {{ rsvp.event.start_time|date:"l m/d g:ia" }}-{{ rsvp.event.end_time|date:"g:ia" }}</td>
	<td> {{ rsvp.comment }} </td>
	<td> {% if rsvp.event.rsvp_transportation_necessary %} {{rsvp.transport}} {% else %} - {% endif %} </td>
	<td> {% if rsvp.is_block %} {{ rsvp.get_block_descriptions }} {% endif %} </td>
{% if show_confirm_form %}	<td><input type=text name="{{rsvp.id}}.vp_comment" value="{{rsvp.vp_comment}}"/></td> {% endif %}	
</tr>
{% endfor %}
{% endspaceless %}
</table>


{% if show_confirm_form %}
<input class="button" type=submit value="save">
</form>

<script language="javascript">
$('#confirmation_form').ready(function() {	       
	$('#confirmation_form').ajaxForm(function(data) { 
		$('#objects_div').html(data);
	}); 
});
</script>

{% endif %}

{% endblock %}

