table.ajaxtable {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: small;
  width: 100%;
}

table.ajaxtable .odd {
    background: #EDF3FE;
}

table.ajaxtable .even {
    background: #dce2ed;
}

table.ajaxtable th {
  font-weight: bold;
}


table.ajaxtable th, table.ajaxtable td {
  padding: 4px;
  vertical-align: top;
}

table.ajaxtable td {
  border: 1px silver solid;
}

table.ajaxtable th {
  font-size: medium;
  white-space: nowrap;
}

.grid_cell {
	text-align: center;
	float: left;
	width: 100px;
	margin: 10px;
}

.ajaxgrid {
	clear: both;
	width: 100%;
	margin: 0 -10px;
}
