{% load ajaxlist_extras %}

{% spaceless %}
<div class="pager"  style="text-align:right">
<img src="/static/images/site/arrow_desc.gif">
{% if has_previous_page %}
<a class="prev_page" href="#" >Previous</a>
{% else %}
Previous
{% endif %}
|
<select id="page">
{% for page_i in page_range %}
	{% ifequal page page_i %}
		<option value="{{ page_i }}" selected="yes">{{ page_i}}</option>
	{% else %}
		<option class="{{page}}" value="{{ page_i }}">{{ page_i}}</option>	
	{% endifequal %}
{% endfor %}
</select>
|
{% if has_next_page %}
<a class="next_page" href="#" >Next</a>
{% else %}
Next
{% endif %}
<img src="/static/images/site/arrow_asc.gif">
</div>
{% endspaceless %}
