{% load ajaxlist_extras %}

{% spaceless %}
<img src="/images/site/arrow_desc.gif">
{% if has_previous_page %}
<a href="javascript:void(0);" onclick="filter('{{ sort }}', '{{ page|add:"-1" }}', '{{ max }}', '{{ category }}', '{{ query }}');">Previous</a>
{% else %}
Previous
{% endif %}
|
<select onchange="filter('{{ sort }}', this.options[this.selectedIndex].value, '{{ max }}', '{{ category }}', '{{ query }}');">
{% for page_i in page_range %}
	{% ifequal page_i page %}
		<option value="{{ page_i }}" selected="yes">{{ page_i }}</option>
	{% else %}
		<option value="{{ page_i }}">{{ page_i }}</option>	
	{% endifequal %}
{% endfor %}
</select>
|
{% if has_next_page %}
<a href="javascript:void(0);" onclick="filter('{{ sort }}', '{{ page|add:1 }}', '{{ max }}', '{{ category }}', '{{ query }}');">Next</a>
{% else %}
Next
{% endif %}
<img src="/images/site/arrow_asc.gif">
{% endspaceless %}
