	<td><a href="{% url person-view object.id %}">
        {% if object.officer_picture %}
            <img height=60 width=80 src="{{ object.restricted.officer_picture.url }}"></a></td>
        {% else %}
            <img height=60 width=80 src="{{ object.restricted.profile_picture.url }}"></a></td>
        {% endif %}
	<td>
		<a href="{% url person-view object.id %}">{{ object.name }}</a>
		<div class="small"><a href="{% url hkn.event.rsvp.list.list_for_person object.id %}">see rsvps</a></div> 
	</td>
	<td>{{ object.member_status }}</td>
	<td>{{ object.restricted.email }}</td>
    <td>{{ object.get_committee }}</td>
	<td>{{ object.restricted.phone }}</td>
