<tr>
<th>Image</th>
<th> Name (<a href="javascript:void(0)" onclick="filter('{{ reverse_sort_first }}first', '{{ page }}', '{{ max }}', '{{ category }}', '{{ query }}')">First</a> <a href="javascript:void(0)" onclick="filter('{{ reverse_sort_last }}last', '{{ page }}', '{{ max }}', '{{ category }}', '{{ query }}')">Last</a>) </th>
<th><a href="javascript:void(0)" onclick="filter('{{ reverse_sort_email }}email', '{{ page }}', '{{ max }}', '{{ category }}', '{{ query }}')">Email</a></th>
<th>Committee</th>
<th>Phone</th>
</tr>
