	<td><a href="{% url person-view object.id %}">
        {% if object.officer_picture %}
            <img height=60 width=80 src="{{ object.get_officer_picture_url }}"></a></td>
        {% else %}
            <img height=60 width=80 src="{{ object.get_profile_picture_url }}"></a></td>
        {% endif %}
	<td><a href="{% url person-view object.id %}">{{ object.name }}</a><br><span style="font-size: 10"><a href="{% url hkn.event.rsvp.list.list_for_person object.id %}">see rsvps</a></span> </td>
	<td>{{ object.member_status }}</td>
	<td>{{ object.restricted.email }}</td>
    <td>{{ object.get_committee }}</td>
	<td>{{ object.restricted.phone }}</td>
