{% extends "list/list_objects.html" %}

{% block objects_content %}
<table class="list"><tr>
<th>Image</th>
<th> Name (<a href="javascript:void(0)" onclick="filter('{{ reverse_sort_first }}first', '{{ page }}', '{{ max }}', '{{ category }}', '{{ query }}')">First</a> <a href="javascript:void(0)" onclick="filter('{{ reverse_sort_last }}last', '{{ page }}', '{{ max }}', '{{ category }}', '{{ query }}')">Last</a>) </th>
<th><a href="javascript:void(0)" onclick="filter('{{ reverse_sort_email }}email', '{{ page }}', '{{ max }}', '{{ category }}', '{{ query }}')">Email</a></th>
<th>Phone</th>
</tr>

{% for person in people %}
<tr>
	<td><a href="/info/pictures/{{ person.person_id }}"><img height=60 width=80 src="{{ person.thumbnail_url }}"></a></td>
	<td><a href="/info/details/{{ person.person_id }}">{{ person.name }}</a><br><span style="font-size: 10"><a href="{% url hkn.event.rsvp.list.list_for_person person.person_id %}">see rsvps</a></span> </td>
	<td>{{ person.email }}</td>
	<td>{{ person.extendedinfo.get_phone }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}