<tr>
  <th>Big Fun Activity</th>
  <td>
    {% if BIGFUN.num_left %}
    <span class="checklist_not_done">[Need {{BIGFUN.num_left}}]</span>
    {% else %}
    <span class="checklist_done">[Done]</span>
    {% endif %}
  </td>
</tr>
{% for event in BIGFUN.events %}
<tr><td><a href="{% url hkn.event.event-view event.slug %}">{{ event.name }}</a></td></tr>
{% endfor %}

<tr>
  <th>Other Fun Events</th>
  <td>
    {% if FUN.num_left %}
    <span class="checklist_not_done">[Need {{FUN.num_left}}]</span>
    {% else %}
    <span class="checklist_done">[Done]</span>
    {% endif %}
  </td>
</tr>
{% for event in FUN.events %}
<tr><td><a href="{% url hkn.event.event-view event.slug %}">{{ event.name }}</a></td></tr>
{% endfor %}


<tr>
  <th>Community Service Event</th>
  <td>
    {% if COMSERV.num_left %}
    <span class="checklist_not_done">[Need {{COMSERV.num_left}}]</span>
    {% else %}
    <span class="checklist_done">[Done]</span>
    {% endif %}
  </td>
</tr>
{% for event in COMSERV.events %}
<tr><td><a href="{% url hkn.event.event-view event.slug %}">{{ event.name }}</a></td></tr>
{% endfor %}

<tr>
  <th>Department Service Event</th>
  <td>
    {% if DEPSERV.num_left %}
    <span class="checklist_not_done">[Need {{DEPSERV.num_left}}]</span>
    {% else %}
    <span class="checklist_done">[Done]</span>
    {% endif %}
  </td>
</tr>
{% for event in DEPSERV.events %}
<tr><td><a href="{% url hkn.event.event-view event.slug %}">{{ event.name }}</a></td></tr>
{% endfor %}
