{% extends "photologue/root.html" %}
{% load ajaxtable %}

{% block title %}Latest Photo Galleries{% endblock %}

{% block content %}

<h1>Latest Photo Galleries</h1>

{% if latest %}
    {% for gallery in latest %}
    <div class="photo-gallery">
        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
		{% ajaxgrid gallery.sample|slice:sample_size "photologue/_simple_cell.html" 4 %}
    </div>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

<p><a href="{% url pl-gallery-list 1 %}">View all galleries.</a></p>

{% endblock %}
