{% extends "photologue/root.html" %}
{% load ajaxtable %}
{% block title %}Galleries for {{ semester.verbose_description }}{% endblock %}

{% block content %}

<h1>Galleries for {{ semester.verbose_description }}</h1>

{% if object_list %}
    {% for gallery in object_list %}
    <div class="photo-gallery">
        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
		{% ajaxgrid gallery.sample|slice:sample_size "photologue/_simple_cell.html" 4 %}
    </div>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

{% if is_paginated %}
<p>{{ hits }} galleries total.</p>
<div id="page_controls">
    <p>{% if has_previous %}<a href="{% url yearbook-gallery-semester-list semester previous %}">Previous</a> | {% endif %} page {{ page }} of {{ pages }} {% if has_next %}| <a href="{% url yearbook-gallery-semester-list semester next %}">Next</a>{% endif %}</p>
</div>
{% endif %}

{% endblock %}
