{% extends "photologue/root.html" %}
{% load ajaxtable %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<div class="photo-gallery">
	{% ajaxgrid object.public "photologue/_simple_cell.html"%}
</div>

{{ object.photo_count }} photos in gallery.
{#{% control pager %}#}
<p><a href="{% url yearbook-gallery-semester object.semester.semester %}">Galleries for {{ object.semester.verbose_description }}</a></p>

{% endblock %}
