{% extends "photologue/root.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
<div class="gallery-photo">
    <a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" alt="{{ object.title }}"/></a>
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
</div>
{{ object.blah }}
{% with object.next_and_previous_photos as photos %}
    {% if photos.0 %}
        <a href="{{ photos.0.get_absolute_url }}">Previous</a>
    {% endif %}
    {% if photos.1 %}
        <a href="{{ photos.1.get_absolute_url }}">Next</a>
    {% endif %}
{% endwith %}
{% endblock %}
