select {
    border: 1px solid black;
    padding: 2px;
    font-size: 10px;
    background-color: #EEEEEE;
}
input {
    border: 1px solid black;
    font-size: 10px;
    padding: 3px;
    background-color: #EEEEEE;
}

label {
    color: #666666;
    cursor: pointer;
    font-weight: bold;
}

label.small {
    font-weight: normal;
    font-size: small;
}


a {
	text-decoration:none;
}

a:link, a:visited {
	background-color:transparent;
	color: #3333CC;
}


a:hover {
	background-color:transparent;
	text-decoration:underline;
}


h1 {
  color: #003366;
  font-weight: bold;
  font-size: large;
  font-family: arial, helvetica, sans-serif;
}

h2 {
  font-size: large;
  font-family: arial, helvetica, sans-serif;
}

h3 {
  font-weight: bold;
  font-size: medium;
  font-family: arial, helvetica, sans-serif;
}

/*
.navbar {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  text-decoration: none;
}

.location {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  text-decoration: none;
  vertical-align: middle;
}

.date {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  vertical-align: middle;
}

.footer {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  text-decoration: none;
  vertical-align: middle;
}
*/

#header {
	position: relative;
	float: left;
	width: 100%;
}

#location {
	position: relative;
	clear: both;
	width: 95%;
	height: 15px;
	padding: 5px 5% 5px 0;
	background-color: #000066;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	color: #EEC000;
	text-align: right;
}

#sidebar {
	position: relative;
	float: left;
	width: 160px;
	margin: 10px 10px 5px 10px;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #000066;
}

#sidebar .title { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: small;
  color: #000000;
}

#sidebar a { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: x-small;
}

#sidebar .logout {
  font-size: x-small;
}

#content {
	margin: 10px 10px 10px 185px;
	width: auto;
}

#footer {
	position: relative;
	clear: both;
	width: 96%;
	height: 15px;
	padding: 5px 2% 5px 2%;
	background-color: #000066;
	font-family: Verdana, Arial, Helvetica;
	font-size: x-small;
	font-weight: bold;
	color: #EEC000;
}

#footer a {
	background-color: #000066;
	font-family: Verdana, Arial, Helvetica;
	font-size: x-small;
	font-weight: bold;
	color: #EEC000;
}

.articletitle { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  text-decoration: underline;
}

.articletext { 
  font-family: "times new roman", times, serif;
  font-weight: normal;
  font-size: medium;
}


