html{
	height: 100%;
}

body{
	height:100%;
	background-color: white;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align:center;

}
select {
    border: 1px solid black;
    padding: 2px;
    font-size: 10px;
    background-color: #EEEEEE;
}
input {
    border: 1px solid black;
    font-size: 10px;
    padding: 3px;
    background-color: #EEEEEE;
}

label {
    color: #666666;
    cursor: pointer;
    font-weight: bold;
}

label.small {
    font-weight: normal;
    font-size: small;
}


a {
	text-decoration:none;
}

a:link, a:visited {
	background-color:transparent;
	color: #e5f200;
}


a:hover {
	background-color:transparent;
	text-decoration:underline;
}


h1 {
  color: #003366;
  font-weight: bold;
  font-size: large;
  font-family: arial, helvetica, sans-serif;
}

h2 {
  font-size: large;
  font-family: arial, helvetica, sans-serif;
}

h3 {
  font-weight: bold;
  font-size: medium;
  font-family: arial, helvetica, sans-serif;
}

/*
.navbar {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  text-decoration: none;
}

.location {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  text-decoration: none;
  vertical-align: middle;
}

.date {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  vertical-align: middle;
}

.footer {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  color: #FFFFFF;
  text-decoration: none;
  vertical-align: middle;
}
*/
/*f2cc24, esf200, 4f7cf2, 124876*/
#header {
	background-color: #E5F200;
	position: relative;
	float: left;
	width: 100%;
}

#location {
	position: relative;
	clear: both;
	width: 95%;
	height: 15px;
	padding: 5px 5% 5px 0;
	background-color: #E5F200;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	color: #124876;
	text-align: right;
}

#sidebar {
	position: absolute;
	float: left;
	width: 160px;
	margin: 25px 10px 5px 10px;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #000066;
}

#sidebar .title { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: small;
  color: #000000;
}

#sidebar a { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: x-small;
}

#sidebar .logout {
  font-size: x-small;
}

#container{
	height: auto;
	margin: 5%;
	padding: 5%;
	border: 2px solid #083643;
	background-color: #CEF09D;
	overflow:visible;
}

#container #leftshadow{
	position: relative;
	top:-5%;
	left:-7%;
	width: 1%;
	background: url("/images/site/leftshadow.png") repeat-y;
	height:110%;
}

div #rightshadow{
	position: absolute;
	top:0%;
	right:101%;
	width: 10px;
	background: url("/images/site/leftshadow.png") repeat-y;
	height:100%;
}

/* Currently unused for dropshadows:
#content {
	height: 80%;
	float:left;
	padding: 5%;
	width: 80%;
	background: #00ff00;
}

#leftshadow{
	float:left;
	margin-left: 3%;
	background: url("/images/site/leftshadow.png") repeat-y;
	width: 10px;
	height:100%;
}

#midcontainer{
	float:left;
	background: #0000ff;
	width: 80%;
	text-align: center;
}

#rightshadow{
	float:left;
	background: url("/images/site/rightshadow.png") repeat-y;
	width: 10px;
	height: 100%;
	clear:right;
}
*/

#footer {
	position: relative;
	clear: both;
	width: 96%;
	height: 15px;
	padding: 5px 2% 5px 2%;
	background-color: #000066;
	font-family: Verdana, Arial, Helvetica;
	font-size: x-small;
	font-weight: bold;
	color: #EEC000;
}

#footer a {
	background-color: #000066;
	font-family: Verdana, Arial, Helvetica;
	font-size: x-small;
	font-weight: bold;
	color: #EEC000;
}

.articletitle { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  text-decoration: underline;
}

.articletext { 
  font-family: "times new roman", times, serif;
  font-weight: normal;
  font-size: medium;
}

#logo {
	margin:auto;
	background-color: transparent;
}

#navigation{
	font-family: "Trebuchet MS",Arial,tahoma,sans-serif;
	width: 100%;
	margin: 0;
	font-size: medium;
	height: 75px;
	z-index:50;
	vertical-align: middle;
	background: #e5f200 url("/images/site/navbar.png") top repeat-x;

}

#navigation div{
	position: relative;
	height: 50px;
}

#navigation ul {
    padding: 0;
    margin: 0;
    position: absolute;
    border-right: 1px solid #576178;
    border-left: 1px solid #1f2635;
    list-style: none;
    top: 0;
    right: 18em;
	height: 100%;
}

#navigation li {
	position: relative;
    float: left;
    padding: 0;
    margin: 0;
	height: 100%;
}

#navigation ul a.top:link, #navigation ul a.top:visited{
    display: block;
    float: left;
    border-left: 1px solid #576178;
    border-right: 1px solid #1f2635;
    text-decoration: none;
    color: #124876;
    height: 28px;
	padding: 11px 10px;
}

#navigation ul a.sub:link, #navigation ul a.sub:visited{
    display: none;
}

#navigation ul li:hover a.sub:link, #navigation ul li:hover a.sub:visited{
	display: block;
	float: none;
	position: relative;
	background: #e5f200;
    border-left: 1px solid #576178;
    border-right: 1px solid #1f2635;
    text-decoration: none;
    color: #124876;
    height: 28px;
	padding: 11px 10px;
}

#navigation h1{
	margin:0;
}

.left img {
	background-color:transparent;
	float:left;
}

#navigation ul li a.top.current, #navigation ul li a.top:hover {
    background: #124876;
    color: #ffffff;
    text-decoration: underline;
}

#navigation ul li a.top.current{
    text-decoration: none;
}

#navigation ul li ul{
	display:none;
	width: 100%;
}

#navigation ul li:hover ul{
	display:block;
	position:absolute;
	left:0;
	top:100%;
	width: 100%;	
}
	
	

	/*f2cc24, e5f200, 4f7cf2, 124876*/
/*#navigation ul .subitem{
	display:none;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	border-width: 1px;
	border-color: #000000;
}
#navigation ul .item{
	border-right: solid;
	border-width: 1px;
	border-color: #000000;
}

#navigation ul a {
	padding: 11px 25px;
}

#navigation ul:hover .subitem{
	display:block;
	background-color:#E5F200;
	padding:1px;
}
#navigation ul:hover .subitem {color: #124876;text-decoration:none;}
#navigation ul:hover .subitem a:hover {background-color:#124876; color:#E5F200; text-decoration:none;}

#navigation ul{width:100px;float:left;margin:0px;padding:0px;background-color:#E5F200;list-style:none;}
#calendar {
	margin-top: 25px;
}
*/