.info {
	background:#EAF6FF url(/images/site/information.png) no-repeat scroll 10px;
	border:1px solid #003399;
	color:#000000;
}

.errors {
	background:#FFEEEE url(/images/site/error.png) no-repeat scroll 10px;
	border:1px solid #CC6666;
	color:#990000;
}

div#details {
    padding: 0px 4px 20px 4px;
}

div#details > div#contact {
    float: left;
    font-weight: bold;
    padding-right: 20px;
}

div#details > div#rsvps {
    float: right;
    padding-right: 40px;
}


    


