.infodiv { width: 400px; }
.infodiv img { float: left; padding-right: 20px; clear: none; }
.infodiv .tutoring_hours { float: right; clear: none; vertical-align: middle; width: 275px; }
.infodiv .clear { clear: both; }
