html #landing_wrapper { background-color: #FFFFFF; position: relative; float: right; width: 60%; }
html #landing_right_info { background: #f3f8f8; padding: 0px 8px; border: 1px #5c7c0b solid; text-align: left; }
html .tutoring { float: left; width: 47%; }
html .events { float: right; width: 47%; }
html table.landing_events { width: 98%; font-size: x-small; }
html .landing_events td { padding: 0px; margin: 0px; }
html .landing_events tr.headrow { margin-bottom: -10px; }
html .landing_events div.time_location { float: left; text-align: left; }
html .landing_events div.name { text-align: left; font-weight: bold; font-size: x-small; float: left; overflow: hidden; }
html .landing_events div.links { float: right; font-size: x-small; text-align: right; }
html .landing_events div.day { float: right; font-size: x-small; text-align: right; }
html .landing_events div.spacer { height: 3px; }
html .landing_events th, html .landing_events tr { padding: 0px; margin: 0px; }
html #coursesurvey { width: 240px; }
html ul.rsvp_ul_form { margin: 0; padding: 0; }
html ul.rsvp_ul_form li { list-style-type: none; }
html ul.rsvp_ul_form textarea { width: 95%; }
