table.list {
  margin: 1em 1em 1em 2em;
  background: whitesmoke;
  border-collapse: collapse;
  font-size: small;
  width: 100%;
}
table.list th, table.list td {
  border: 1px silver solid;
  padding: 0.2em;
}
table.list th {
  background: gainsboro;
  font-size: medium;
  text-align: left;
}
table.list caption {
  margin-left: inherit;
  margin-right: inherit;
}
