html div.rating_bar { height: 8px; width: 50px; border: 1px solid black; }
html div.rating_bar div { height: 8px; border-right: 1px solid black; }
html div.rating_bar div.c0 { background-color: green; }
html div.rating_bar div.c2 { background-color: yellow; }
html div.rating_bar div.c3 { background-color: orange; }
html div.rating_bar div.c4 { background-color: red; }
html div.rating_bar div.c1 { background-color: green; }
