html body { font-family: "Lucida Grande",Verdana,Arial,sans-serif; line-height: 1.5em; }
html h1 { color: #003366; font-weight: bold; font-size: x-large; font-family: arial, helvetica, sans-serif; margin: 0 0 12px 0; }
html h2 { font-size: large; font-family: arial, helvetica, sans-serif; margin: 0 0 12px 0; }
html h3 { font-weight: bold; font-size: medium; font-family: arial, helvetica, sans-serif; margin: 0 0 12px 0; }
html .header { font-weight: bold; font-size: medium; font-family: arial, helvetica, sans-serif; }
html .subheader { font-size: small; font-style: italic; font-family: arial, helvetica, sans-serif; }
html .flushheader { margin-top: -12px; }
html .spacer { height: 10px; }
html img { border: none; }
html p { line-height: 1.4; font-size: small; margin-bottom: 12px; }
html li { line-height: 1.8; font-size: small; }
html .section { margin-bottom: 18px; }
html a { color: #3366CC; text-decoration: none; }
html a:link { color: #3366CC; }
html a:visited { color: #3366CC; }
html a:hover { text-decoration: underline; }
html input { border: 1px solid #CCCCCC; background: #F1F1F1; font-size: 11px; font-weight: normal; margin: 2px 0; padding: 2px 3px; vertical-align: middle; }
html input:focus { border: 1px solid black; }
html input[type=submit] { background: #EEEEEE; margin: 4px; }
html input.short { width: 100px; }
html select { border: 1px solid #CCCCCC; background: #F1F1F1; font-size: 11px; font-weight: normal; margin: 2px 0; padding: 2px 3px; vertical-align: middle; }
html select:focus { border: 1px solid black; }
html textarea { border: 1px solid #CCCCCC; background: #F1F1F1; font-size: 11px; font-weight: normal; margin: 2px 0; padding: 2px 3px; vertical-align: middle; }
html textarea:focus { border: 1px solid black; }
html label { font-weight: bold; padding-right: 3px; color: #444444; text-align: left; }
html .small { font-size: x-small; line-height: 1.3em; }
html .aside { font-size: x-small; line-height: 1.3em; color: #444444; }
html .warning { color: red; }
html th, html td { padding: 4px; vertical-align: top; text-align: left; }
html th { font-weight: bold; }
html .infodiv { width: 300px; text-align: left; }
html .two_column { width: 45%; float: left; }
html .right_column { float: right; }
html ul.plain { list-style: none; margin-top: 0; margin-left: 0; padding-left: 1em; text-indent: -1em; }
