{% load ajaxtable %}

<table class="ajaxtable" width=100%>
<tr>
{% include header_template %} 
{% ifequal checks "on" %}<td></td>{% endifequal %}
{% ifequal remove_item "on" %}<td></td>{% endifequal %}
</tr>
{% special_for list_objects %}
<tr class="{% cycle 'even' 'odd' %}">
{% include row_template %}
{% ifequal checks "on" %}<td><input class="ajaxlist_check" type="checkbox" name="object" value="{{object.id}}" {% ajaxlist_selected object %} /></td>{% endifequal %}
{% ifequal remove_item "on" %}<td><input type="image" class="ajaxlist_remove_item" src="/static/images/site/close.png" value="{{object.id}}" /></td>{% endifequal %}
</tr>
{% endfor %}
</table>
{% ifequal checks "on" %} <noscript><div style="text-align: right"><input type="submit" name="submit" value="Add" /> <input type="submit" name="submit" value="Remove" /></div></noscript>{% endifequal %}