#landing_wrapper {
	background-color: #FFFFFF;
	position:relative;
	float:right;
	width: 60%;
}


#landing_right_info {
	background: {{ landing_background }};
	padding: 0 8px;
	border: 1px {{ landing_border }} solid;
	text-align:left;
}

.tutoring {
    float: left;
    width: 47%;
}

.events {
    float: right;
    width: 47%;
}

table.landing_events {
    width: 98%;
    font-size: small;
}

.landing_events td, .landing_events th, .landing_events tr {
    padding: 0px;
    margin: 0px;
}

.landing_events tr.tail div {
    font-size: x-small;
    line-height: 7px;  
    height: 7px;  
}

.landing_events .time_location div {
    width: 100%;
    text-align: left;
}

.landing_events .links div {
    text-align: right;
}

.landing_events .name div {
    text-align: left;
    font-weight: bold;
    font-size: x-small;
    height: 21px;
    overflow: hidden;
}

.landing_events .day {
    width: 70px;
}

.landing_events .day div {
    font-size: x-small;
    text-align: right;
}

.landing_events div.spacer {
    height: 3px;
}

#coursesurvey {
    width: 240px;
}
