.landing_wrapper {
	background-color: #FFFFFF;
	position:relative;
	float:left;
	width: 33%;
}

#landing_left_wrapper{ }
#landing_middle_wrapper{ }
#landing_right_wrapper{ }

.landing_content {
	background: {{ landing_background }};
	padding: 0 8px;
	margin: 10px;
	border: 1px {{ landing_border }} solid;
	width: 90%;
	text-align:left;
}

#landing_left_content{ }
#landing_middle_content{ }
#landing_right_content{ }

.landing_courses div {
    padding-bottom: 15px;
}

.landing_events td, .landing_events th {
    padding: 0px;
    margin: 0px;
    line-height: 15px;
}

.landing_events tr.head td {
    padding-top: 15px;
}

.landing_events .day div {
}

.landing_events .links div {
    vertical-align: middle;
    font-size: x-small;
    line-height: 1.2em;
}

.landing_events .name div {
    text-align: right;
    font-weight: bold;
}

.landing_events .location div {
    font-size: x-small;
    font-style: italic;

}

.landing_events .time div {
    font-size: x-small;
    font-style: italic;
}

.landing_events .description div {
    line-height: 1.1em;
    font-size: x-small;    
    height: 23px;
    overflow: hidden;
}
