#landing_wrapper {
	background-color: #FFFFFF;
	position:relative;
	float:right;
	width: 60%;
}


#landing_right_info {
	background: {{ landing_background }};
	padding: 0px 8px;
	border: 1px {{ landing_border }} solid;
	text-align:left;
}

.tutoring {
    float: left;
    width: 47%;
}

.events {
    float: right;
    width: 47%;
}

table.landing_events {
    width: 98%;
    font-size: x-small;
}

.landing_events td, .landing_events th, .landing_events tr {
    padding: 0px;
    margin: 0px;
}

.landing_events tr.headrow {
	margin-bottom: -10px;
}

.landing_events div.time_location {
	float: left;
    text-align: left;
}

.landing_events div.name {
    text-align: left;
    font-weight: bold;
    font-size: x-small;
	float: left;
    overflow: hidden;
}

.landing_events div.links {
	float: right;
	font-size: x-small;
	text-align: right;
}

.landing_events div.day {
	float: right;
    font-size: x-small;
    text-align: right;
}

.landing_events div.spacer {
    height: 3px;
}

#coursesurvey {
    width: 240px;
}

ul.rsvp_ul_form {
	margin: 0;
	padding: 0;
}

ul.rsvp_ul_form li {
	list-style-type: none;
}
