confirmRequest = function(request_id, approved) {
	confirm_url = "{% url request-ajax-confirm %}" + request_id + "/";
	comment_text = $("#" + request_id + "_comment").text();
	post_parameters = {"confirm" : approved, "comment" : comment_text};
	
	$.ajax({
		url: confirm_url,
		type: "POST",
		data: post_parameters,
		dataType: "json",
		success: setConfirmAndComment
	});
		
	return false;
}

setConfirmAndComment = function(json) {
	$("#" + json["request_id"] + "_image").attr("src", json["image"]);
	$("#" + json["request_id"] + "_comment").text(json["comment"]);
	return false;	
}
