<td>
<div>{{ r.title }}</div>
<div>
    <img id="request_{{r.id}}_unknown" class="request_{{r.id}} request_unknown {% if r.active %}request_selected{% endif %}" src="{{STATIC_PREFIX}}images/site/inactive.png" />
    <img id="request_{{r.id}}_accepted" class="request_{{r.id}} request_accepted {% if not r.active and r.confirmed %}request_selected{% endif %}" src="{{STATIC_PREFIX}}images/site/valid.png" />
    <img id="request_{{r.id}}_rejected" class="request_{{r.id}} request_rejected {% if not r.active and not r.confirmed %}request_selected{% endif %}" src="{{STATIC_PREFIX}}images/site/error.png" />

</td>

<td>
<span class="small">
{% for link in r.links %}
<a href="{{link.1}}">{{link.0}}</a> {% if not forloop.last %}<br/>{% endif %}
{% endfor %}
</span>
</td>

<td>{{r.description}}</td>
<td><input type=text id="request_{{r.id}}_comment" name="{{r.id}}.comment" value="{{r.comment}}"/></td>
