<td>
<img id="{{r.id}}_image"
{% if r.active  %}
src="{{STATIC_PREFIX}}images/site/inactive.png"
{% else %}
{% if r.confirm %}
src="{{STATIC_PREFIX}}images/site/valid.png"
{% else %}
src="{{STATIC_PREFIX}}images/site/error.png"
{% endif %}
{% endif %}
/>
{{ r.title }}
</td>

<td>
<span class="small">
{% for link in r.links %}
<a href="{{link.1}}">{{link.0}}</a> {% if not forloop.last %}<br/>{% endif %}
{% endfor %}
</span>
</td>

<td><p>{{r.description}}</p></td>
<td><input type=text id="{{r.id}}_comment" name="{{r.id}}.comment" value="{{r.comment}}"/></td>
<td>
    <img class="request_confirm_img" src="{{STATIC_PREFIX}}images/site/valid.png" onClick='checkbox_changed( true, {{r.id}});'/>
    <img class="request_confirm_img" src="{{STATIC_PREFIX}}images/site/error.png" onClick='checkbox_changed( undefined, {{r.id}});'/>
    <img class="request_confirm_img" src="{{STATIC_PREFIX}}images/site/inactive.png" onClick='checkbox_changed( false, {{r.id}});'/>
</td>
