<div class="small">
    {% for can_tutor_item in can_tutor %}
    <span class="dept_heading">{{ can_tutor_item.0 }}</span>
      {% for course in can_tutor_item.1 %}
        <a href="#" class="{{ can_tutor_item.0 }}{{ course }}" onmouseover="highlight('{{ can_tutor_item.0 }}{{ course }}')" onmouseout="unhighlight('{{ can_tutor_item.0 }}{{ course }}')" onclick="return locklight('{{ can_tutor_item.0 }}{{ course }}')">
          {{ course }}
        </a>
      {% endfor %}
    <br/>
    {% endfor %}
    <span class="completed">completed</span>
    <span class="current">in progress</span>
</div>
