{% extends "tutor/base.html" %}

{% block extratitle %} Tutoring - Administration Controls {% endblock %}

{% block subtitle %} Tutoring - Administration Controls{% endblock %}



{% block tutorcontent %}
Under Construction <br />
Will have:
<ul>
    <li>Change semester / year / finalsState for signups</li>
	<li>Generate schedule for semester / year / finalsState</li>
	<li>Change semester / year / finalsState / version for main tutoring schedule display</li>
	<li>View tutoring feedback</li>
</ul>
{% endblock %}
