{% extends "base.html" %}

{# all tutoring pages should extend this template, and have message defined as False or a nonempty String #}

{% block extratitle %} Tutoring {% endblock %}

{# Note: there is a 'extrahead' hook available to use (above the main HKN graphic in the header). #}

{% block content %}

{# If you do not want this block to appear at all, simply place an empty 'subheader' block in the child template. #}
{% block subheader %}
<a href="{% url hkn.tutor.views.schedule %}">Tutoring Schedule</a>
 | <a href="{% url hkn.tutor.views.feedback %}">Tutoring Feedback</a>
 | <a href="{% url hkn.tutor.views.contact %}">Contact Tutoring</a>
{% if user %}
 | <a href="{% url hkn.tutor.views.signup %}">Signup</a>
{% endif %}
{% if not showAdminLinks %}
 | <a href="{% url hkn.tutor.views.admin %}">Administration</a>
{% else %}
<hr />
<a href="{% url hkn.tutor.views.view_signups %}">View Signups</a>
 | <a href="{% url hkn.tutor.views.admin %}">Administration Controls</a>
{% endif %}
<hr />
<h1>{% block subtitle %}Tutoring{% endblock %}</h1>
<hr />
{% endblock %}

{% if message %}
<font size=3 color="red">{{ message }}</font>
<hr />
{% endif %}

{% block tutorcontent %}
<font color="red">This page lacks a properly formatted 'tutorcontent' block. (Content goes here!)</font>
{% endblock %}

{% endblock %}
