{% extends "base.html" %}

{# all tutoring pages should extend this template, and have message defined as False or a nonempty String #}

{% block title %} {{ block.super }} - Student Services - Tutoring {% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/tutor.css">
{% endblock %}

{% block content %}

{% if message %}
	<blockquote class="message">
	{{message}}<br/><br/>
	If you have any questions or requests, please email us at: <b><a href="mailto:tutoring@hkn.eecs.berkeley.edu" style="color:#FFFFFF">tutoring@hkn.eecs.berkeley.edu</a></b>
	</blockquote>
{% endif %}


{% block tutorcontent %}
{% endblock %}

{% endblock %}
