{% extends "tutor/base.html" %}

{% block title %} {{ block.super }} - Schedule {% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_PREFIX}}js/tutoring.js"></script>
{% endblock %}

{% block subtitle %} Tutoring - {{ season }} {{ year }} Schedule {% endblock %}

{% block tutorcontent %}
{% if not message %}
<div style="float: left; width: 80%; text-align: center">
	{% for officeinfo in info %}
	<h3>
		{{ officeinfo.header }}
	</h3>
	<table style="width: 100%">
		<tr>
			<th>
			</th>
			{% for day in days %}
			<th>
				{{ day }}
			</th>
			{% endfor %}
		</tr>
		{% for scheduleRow in officeinfo.schedule %}
		<tr>
			<td class="time">
				{{ scheduleRow.timeslot }}
			</td>
			{% for dayinfo in scheduleRow.row %}
			<td style="width: 18%; background-color: #dddddd; padding: 3px">
				{% for person in dayinfo %}
				<div class="person {{ person.classes }}" style="margin-top: 3px; margin-bottom: 3px">
					{{ person.name }}
				</div>
				{% endfor %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
</div>

<div style="float: left; max-width: 20%">
    {% include "tutor/_schedule_classes.html" %}
</div>
<div style="clear:both">
</div>
{% endif %}

{% endblock %}
