{% extends "tutor/base.html" %}

{% block extratitle %} Tutoring - Signup {% endblock %}

{% block subtitle %} Tutoring - Signup {% endblock %}

{% block tutorcontent %}

You are logged in as <b>{{ user.person.first }} {{ user.person.last }}</b> <br />
<br />
<br />

<script language="javascript">
function update_courses() {
	var inp = document.getElementById("person_query").value;
	query_url = "{% url hkn.course.course.find_course %}?query=" + escape(inp);
	$("#results").load(query_url);
	return false;
}
function updateonenter(e) {
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;
	if (keycode == 13) {
		update_persons();
		return false;
	}
	return true;
}
function addCourse(name, course_id){
	var newhtml =
		'<div id=course' + course_id +'/>' +
		name +
		'<button onClick="removeCourse('+course_id+');"' +
		'<input type=hidden value=' + course_id + ' /><br />' +
		'</div>';
	$("#classes").innerhtml += newhtml;
}
function removeCourse(course_id){
	var doomed = $('course'+course_id)
	doomed.parentNode.removeChild(doomed)
}
</script>

<form action="{% url hkn.tutor.views.submit_signup %}" method="POST">
    <label FOR="office">Office Preference: </label> <br />
    <select name="office">
        <option value="Both"{% if prefer_both %} selected="yes"{% endif %}>Doesn't Matter</option>
        <option value="Soda"{% if prefer_soda %} selected="yes"{% endif %}>Soda Office</option>
        <option value="Cory"{% if prefer_cory %} selected="yes"{% endif %}>Cory Office</option>
    </select>
    
    <br /><br /><br />
    Please note which times you can make according to the following:
    <ul>
    	<li>1: Most favorable times</li>
    	<li>2: Unfavorable times, but can make them</li>
    	<li>(blank): Cannot make this time</li>
    </ul>
    Tutoring will attempt where possible to have consecutive time slots for each person in addition to taking time and office preferences into account.
    
    <table width={{ signup_table_width }}>
    <tr>
        <td width={{ signup_col_width }}>&nbsp;</td>
        {% for day in days %}
        <td width={{ signup_col_width }}>
            {{ day }}
        </td>
        {% endfor %}
    </tr>
    {% for row in prev %}
    <tr>
    	<td width={{ signup_col_width }}>{{ row.name }}</td>
        {% for elem in row %}
        <td style="width:{{ signup_col_width }}">
            <input name="{{ elem.name }}" style="width:2em" value="{{ elem.value }}" />
        </td>
        {% endfor %}
    {% endfor %}
    </tr>
    </table>
    
    <br /><br /><br />
    
    <div>
		<div style="margin: 0px auto;">
			Search for class (like "cs61a"):
			<input id="course_query" onkeypress="return updateonenter(event);"/>
			<button onclick="update_courses();">Search</button>
		</div>
		<br />
		<div id="results" style="border: 2px solid black; margin: 0px auto; height: 20em;"> </div>
		<div id="classes" style="border: 2px solid black; margin: 0px auto; height: 20em;"> </div>
    </div>
    
    <br /><br /><br />
    
    <input type="submit" value="Submit">
</form>

{% endblock %}