{% extends "tutor/base.html" %}

{% block title %} {{ block.super }} - Signup {% endblock %}

{% block subtitle %} Tutoring - Signup {% endblock %}

{% block tutorcontent %}

<script language="javascript">
function update_courses() {
	var inp = document.getElementById("course_query").value;
	query_url = "{% url course-find-course %}?query=" + escape(inp);
	$("#results").load(query_url);
	return false;
}
function updateonenter(e) {
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;
	if (keycode == 13) {
		update_courses();
		return false;
	}
	return true;
}
nextNumCourse = 0;
missingInts = new Array();
function addCourse(name, course_id, current){
	var nameNum
	var current_str
	if(current){
		current_note = ' (current)'
		current_str = 'cur'
	} else {
		current_note = ''
		current_str = ''
	}
	if(missingInts.length > 0){
		nameNum = missingInts[missingInts.length - 1]
		missingInts.length--
	} else {
		nameNum = nextNumCourse
		if(nameNum <= {{MAX_COURSES}}){
			nextNumCourse++;
			$("#maxNumCourses").attr("value", nameNum + 1);
		} else {
			alert("Too many Courses!")
			return
		}
	}
	var newhtml =
		'<div id="course_' + course_id +'">' +
		name + current_note + 
		'<a href="javascript:void(0);" onClick="removeCourse(' +
			course_id +
			',' + 
			nameNum + 
			');">' +
		'<br />' +
		'remove </a>' +
		'<input name="course_' + nameNum + '" type=hidden value="' + course_id + current_str + '" />' +
		'<hr />' + 
		'</div>';
	var classesDiv = $("#classes");
	classesDiv.html(classesDiv.html() + newhtml);
}
function removeCourse(courseNum, nameNum){
	$('#course_'+courseNum).remove();
	missingInts[missingInts.length] = nameNum
}

</script>

<form action="{% url hkn.tutor.views.submit_signup %}" method="POST">
    <label FOR="office">Office Preference: </label> <br />
    <select name="office">
        <option value="Both"{% if prefer_both %} selected="yes"{% endif %}>Doesn't Matter</option>
        <option value="Soda"{% if prefer_soda %} selected="yes"{% endif %}>Soda Office</option>
        <option value="Cory"{% if prefer_cory %} selected="yes"{% endif %}>Cory Office</option>
    </select>
    
    <br /><br /><br />
    Please note which times you can make according to the following:
    <ul>
    	<li>1: Most favorable times</li>
    	<li>2: Unfavorable times, but can make them</li>
    	<li>(blank): Cannot make this time</li>
    </ul>
    Tutoring will attempt where possible to have consecutive time slots for each person in addition to taking time and office preferences into account.
    
    <table width={{ signup_table_width }}>
    <tr>
        <td width={{ signup_col_width }}>&nbsp;</td>
        {% for day in days %}
        <td width={{ signup_col_width }}>
            {{ day }}
        </td>
        {% endfor %}
    </tr>
    {% for row in prev %}
    <tr>
    	<td width={{ signup_col_width }}>{{ row.name }}</td>
        {% for elem in row %}
        <td style="width:{{ signup_col_width }}">
            <input name="{{ elem.name }}" style="width:2em" value="{{ elem.value }}" />
        </td>
        {% endfor %}
    {% endfor %}
    </tr>
    </table>
    
    <br /><br /><br />
    
    <div style="height: 30em;">
		<div style="margin: 0px auto;">
			Search for class (like "cs61", "cs61c", "ee", or "cheme"):
			<input id="course_query" onkeypress="return updateonenter(event);"/>
			<a href="javascript:void(0);" onclick="update_courses();">Search</a>
		</div>
		<br />
		<div id="results_container" style="border: 1px solid gray; width: 40%; float: left; height: 25em; overflow: hidden;"> 
			<h2>Search Results: </h2>
			<div id="results" style="height: 20em; overflow: scroll">
				<hr />
				None yet, search above!
			</div>
		</div>
		<div id="classes_container" style="border: 1px solid gray; width: 40%; margin-right: 10%; float: right; height: 25em; overflow: hidden;"> 
			<h2>Courses Added:</h2>
			<div id="classes" style="height: 20em; overflow: scroll">
				<hr />
			</div>
		</div>
    
		<input name="maxNumCourses" id="maxNumCourses" type=hidden value="{{ canTutor|length }}" />
    
		<input style="float: left; margin-right: 20em;" type="submit" value="Submit" />
    </div>
</form>

<script type="text/javascript">
{% for canTutor in prevCanTutor %}
addCourse('{{canTutor.course}}', '{{canTutor.course_id}}', {{canTutor.current|lower}});
{% endfor %}
</script>


{% endblock %}
