{% extends "tutor/base.html" %}

{% block extratitle %} Tutoring - Signup {% endblock %}

{% block subtitle %} Tutoring - Signup {% endblock %}

{% block tutorcontent %}

You are logged in as <b>{{ user.person.first }} {{ user.person.last }}</b> <br />
<br />
<br />

<script language="javascript">
function update_courses() {
	var inp = document.getElementById("course_query").value;
	query_url = "{% url hkn.course.course.find_course %}?query=" + escape(inp);
	$("#results").load(query_url);
	return false;
}
function updateonenter(e) {
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;
	if (keycode == 13) {
		update_courses();
		return false;
	}
	return true;
}
nextNumCourse = 1;
missingInts = new Array();
function addCourse(name, course_id){
	var nameNum
	if(missingInts.length > 0){
		nameNum = missingInts[missingInts.length - 1]
		missingInts.length--
	} else {
		nameNum = nextNumCourse
		if(nameNum <= {{MAX_COURSES}}){
			nextNumCourse++;
			$("#maxNumCourses").attr("value", nameNum);
		} else {
			alert("Too many Courses!")
			return
		}
	}
	var newhtml =
		'<div id="course' + course_id +'">' +
		name +
		'<a href="javascript:void(0);" onClick="removeCourse('+course_id+');">' +
		' remove </a>' +
		'<input name="course_' + nameNum + '" type=hidden value=' + course_id + ' /><br />' +
		'</div>';
	var classesDiv = $("#classes");
	classesDiv.html(classesDiv.html() + newhtml);
}
function removeCourse(course_id){
	$('#course'+course_id).remove();
}

</script>

<form action="{% url hkn.tutor.views.submit_signup %}" method="POST">
    <label FOR="office">Office Preference: </label> <br />
    <select name="office">
        <option value="Both"{% if prefer_both %} selected="yes"{% endif %}>Doesn't Matter</option>
        <option value="Soda"{% if prefer_soda %} selected="yes"{% endif %}>Soda Office</option>
        <option value="Cory"{% if prefer_cory %} selected="yes"{% endif %}>Cory Office</option>
    </select>
    
    <br /><br /><br />
    Please note which times you can make according to the following:
    <ul>
    	<li>1: Most favorable times</li>
    	<li>2: Unfavorable times, but can make them</li>
    	<li>(blank): Cannot make this time</li>
    </ul>
    Tutoring will attempt where possible to have consecutive time slots for each person in addition to taking time and office preferences into account.
    
    <table width={{ signup_table_width }}>
    <tr>
        <td width={{ signup_col_width }}>&nbsp;</td>
        {% for day in days %}
        <td width={{ signup_col_width }}>
            {{ day }}
        </td>
        {% endfor %}
    </tr>
    {% for row in prev %}
    <tr>
    	<td width={{ signup_col_width }}>{{ row.name }}</td>
        {% for elem in row %}
        <td style="width:{{ signup_col_width }}">
            <input name="{{ elem.name }}" style="width:2em" value="{{ elem.value }}" />
        </td>
        {% endfor %}
    {% endfor %}
    </tr>
    </table>
    
    <br /><br /><br />
    
    <div>
		<div style="margin: 0px auto;">
			Search for class (like "cs61a"):
			<input id="course_query" onkeypress="return updateonenter(event);"/>
			<a href="javascript:void(0);" onclick="update_courses();">Search</a>
		</div>
		<br />
		<div id="results_container" style="border: 1px solid gray; width: 40%; float: left; height: 10em; overflow: hidden;"> 
			<h2>Search Results: </h2>
			<div id="results" style="height: 5em; overflow: scroll">None yet, search above!</div>
		</div>
		<div id="classes_container" style="border: 1px solid gray; width: 40%; margin-right: 10%; float: right; height: 10em; overflow: hidden;"> 
			<h2>Courses Added:</h2>
			<div id="classes" style="height: 5em; overflow: scroll"></div>
		</div>
    </div>
    
    <input name="maxNumCourses" id="maxNumCourses" type=hidden value="{{ canTutor|length }}" />
    
    <br /><br /><br />
    
    <input style="float: left; margin-right: 20em;" type="submit" value="Submit">
</form>

<script type="text/javascript">
{% for canTutor in prevCanTutor %}
addCourse('{{canTutor.course}}', '{{canTutor.course_id}}');
{% endfor %}
</script>


{% endblock %}
