<tr>
<td>
<img id="{{r.request_id}}.img_confirm"
{% ifequal r.confirm "None" %}
src="/images/site/inactive.png"
{% else %}
{% if r.confirm %}
src="/images/site/valid.png"
{% else %}
src="/images/site/error.png"
{% endif %}
{% endifequal %}
/>
{{ r.title }}
</td>

<td>
<span style="font-size: 10">
{% for link in r.links.items %}
<a href="{{link.1}}">{{link.0}}</a> {% if not forloop.last %}<br/>{% endif %}
{% endfor %}
</span>
</td>

<td>{{r.description}}</td>
<td><input type=text id="{{r.id}}.comment" name="{{r.id}}.comment" value="{{r.comment}}"/></td>
<td><img class="request_confirm_img" src="/images/site/valid.png" onClick='confirmRequest( {{r.id}}, "true");'/><img class="request_confirm_img" src="/images/site/error.png" onClick='confirmRequest( {{r.id}}, "false");'/></td>
</tr>