{% extends "info/hkn.html" %}

{% block content %}
<h1 align="center"><big><b>{{ person.first_name }} {{ person.last_name }}</b></big></h1>
<br>
<body>
<img src="{{ person.get_profile_picture_url }}">
<table>
<tr>
<td><b>Contact Information</b></td>
</tr>
<tr>
<td>{{ person.first_name }} {{ person.last_name }}</td>
</tr>
<tr>
<td>{{ info.phone }}</td>
</tr>
<tr>
<td>{{ info.local_addr }}</td>
</tr>
<tr>
<td>{{ person.email }} </td>
</tr>
</table>
<a href="{% url person-list-all %}">List All</a>
{% endblock %}
