{% extends "info/hkn.html" %}

{% load ajaxtable %}

{% block css %}
{{ block.super }}
<link href="{{STATIC_PREFIX}}css/info.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
<script type="text/javascript">
ajaxlist_get_url = "{% url rsvp-list-for-person-small person.id %}"
</script>
{% endblock %}

{% block content %}
<div id="details">
	<div id="person" class="two_column">
		<h1>{{ person.first_name }}'s Profile</h1>	
        <div id="picture">
		    {% if person.profile_picture %}
    		<img src="{{ person.restricted.profile_picture.get_display_url }}">
    		{% else %}
    			{% if person.officer_picture %}
    			<img src="{{ person.restricted.officer_picture.get_display_url }}">
    			{% else %}
    			<img src="{{ DEFAULT_PICTURE }}">
    			{% endif %}
    		{% endif %}
            <div><h3>{{person.name}}</h3></div>
        </div>
		<div id="contact">
			<table>
				<tr>
					<td><strong>Email</strong></td>
					<td>{{ person.restricted.email }}</td>
				</tr>
				<tr>
					<td><strong>Phone</strong></td>
					<td>{{person.restricted.phone}}</td>
				</tr>
				<tr>
					<td><strong>Status</strong></td>
					<td>{{person.get_current_status}}</td>				
				</tr>
			</table>
		</div>		
        <div style="clear: both;"></div>
        <div id="membership_info">
         <h2>Additional Membership Information</h2>
         <ul class="membership_info">
            {{ membership_info }}
        </ul>
        </div>
	</div>
	{% if rsvps %}	
	<div id="rsvps" class="two_column right_column">
		<h1>{{person.first_name}}'s RSVPs</h1>
		<table>
		<tr><th><strong>Event</strong></th><th><strong>Time</strong></th></tr>
        </strong>
		{% for rsvp in rsvps %}
			<tr>
				<td><a href="{% url event-view rsvp.event.slug %}">{{ rsvp.event.name }}</a><div class="small">&#187; {{rsvp.event.location}}</div></td>
				<td> {{ rsvp.event.start_time|date:"l, M d" }}<div class="small">{{ rsvp.event.start_time|date:"g:ia" }}-{{ rsvp.event.end_time|date:"g:ia" }}</div></td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
	<div style="clear: both"></div>
</div>	
<a href="javascript:history.back(1)">Back</a>
{% endblock %}
