{% extends "info/hkn.html" %}

{% load ajaxtable %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
<script type="text/javascript">
ajaxlist_get_url = "{% url rsvp-list-for-person-small person.id %}"
</script>
{% endblock %}

{% block content %}
<div id="details">
	<div id="contact">
		<h1>{{ person.name }}</h1>	
		<img src="{{ person.restricted.profile_picture.url }}">
		<div class="member_status">{{ person.get_current_status }}</div>		
		<div class="spacer"></div>
		<div id="contact">
			<div class="email">{{ person.restricted.email }} </div>
			<div class="phone">{{ person.restricted.phone }}</div>
		</div>		
	</div>
	{% if rsvps %}	
	<div id="rsvps">
		<h1>RSVPs</h1>
		<table>
		<tr><th>Event</th><th>Time</th></tr>
		{% for rsvp in rsvps %}
			<tr>
				<td><a href="{% url event-view rsvp.event.slug %}">{{ rsvp.event.name }}</a><div class="small">&#187; {{rsvp.event.location}}</div></td>
				<td> {{ rsvp.event.start_time|date:"l, M d" }}<div class="small">{{ rsvp.event.start_time|date:"g:ia" }}-{{ rsvp.event.end_time|date:"g:ia" }}</div></td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
	<div style="clear: both"></div>
</div>	
<a href="javascript:history.back(1)">Back</a>
{% endblock %}
