{% extends "info/hkn.html" %}

{% block css %}
{{block.super}}
<link href="{{STATIC_PREFIX}}css/list.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<script language="javascript">
function update_persons() {
	inp = document.getElementById("person_query").value;
	query_url = "/info/find_person?query=" + escape(inp);
	$("#persons_div").load(query_url);
	return false;
}
function updateonenter(e) {
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;
	if (keycode == 13) {
		update_persons();
		return false;
	}
	return true;
}

</script>

Add User:
<input type="text" id="person_query" onkeypress="return updateonenter(event);"/>
<a href="javascript:void(0)" onclick="update_persons();"> search </a>
<div id="persons_div"> </div>

<form  action="" method="POST">
<input type="submit" value="Save" class="button" />
<table class="list" id="person_table">
<tr>
<th>Name</th>
<th>Committee</th>
</tr>
</table>
<input type="submit" value="Save" class="button" />
</form>

<script language="javascript">
function addPerson(name, id) {
	addPersonCommittee(name, id, "");
}

function addPersonCommittee(name, id, committee) {
	if (document.getElementById("person_" + id) != null) {
		return;
	}

	var f = document.getElementById("person_table");
	var row = document.createElement("tr");
	row.setAttribute("id", "person_" + id);

	var td_name = document.createElement("td");
	td_name.appendChild(document.createTextNode(name));

	var select = document.createElement("select");
	select.setAttribute("name", id);
	select.options.length = {{ positions|length }}

	select.options[0] = new Option("Not Officer", "delete");
{% for p in positions %}
	if (committee == "{{p.short_name }}") {
		select.options[{{ forloop.counter }}] = new Option("{{ p.long_name }}", "{{ p.short_name }}", true);
	} else {
		select.options[{{ forloop.counter }}] = new Option("{{ p.long_name }}", "{{ p.short_name }}");
	}
{% endfor %}

	var td_select = document.createElement("td");
	td_select.appendChild(select);
	
	row.appendChild(td_name);
	row.appendChild(td_select);

	f.insertBefore(row, f.firstChild);
}
</script>

<script language="javascript">
{% for os in officerships %}
addPersonCommittee( "{{ os.person.name }}", "{{ os.person_id }}", "{{os.position.short_name}}");
{% endfor %}
</script>
{% endblock %}
