{% extends "info/hkn.html" %}
{% load ajaxtable %}

{% block js %}
{{block.super}}
{% ajaxlist_js %}
{% endblock %}

{% block searchbar %}
	    	<div class="searchcontrol">
    			<label>Search {{category|title}}</label>
		        {% control search %}
			</div>		        
{% endblock %}

{% block content %}
{% ajaxwrapper people %}
{% if people %}
	{% control pager %}
	{% ajaxtable people "info/ajax/_list_people_header.html" "info/ajax/_list_people_row.html" %}
	{% control pager %}
{% else %}
	No results
{% endif %}
{% endajaxwrapper %}
{% endblock %}