{% extends "info/hkn.html" %}

{% block content %}
<form action="" method="post">
	<table>
	<tr><th> </th><td> <img src="{{ person.profile_picture.get_profilepic_url }}"/> <div class="small"><a href="{% url info-person-change-picture %}">change picture</a> &middot; <a href="{% url resume-upload %}">update resume</a></div> </td></tr>	
	<tr><th><label>Name:</label></th><td><label>{{ person.name }}</input></td></tr>
    {% with person.resume as resume %}
    {% if resume %}
    <tr><th><label>Current Resume:</label></th>
        <td>
            <a href="{{ resume.resume.url }}">Uploaded {{ resume.submitted|date:"l n-j @ fA"  }}</a><br/>
            <span class="small">
                {{resume.describe_gpa}}<br/>
                <a href="{% url resume-upload %}">Update Resume</a>
            </span>
        </td>
    </tr>
    {% else %}
    <tr><th><label>Current Resume:</label></th>
        <td>No resume<br/>
            <a href="{% url resume-upload %}">Upload Resume</a>
        </td>
    </tr>
    {% endif %}
    {% endwith %}

	{{ form }}
	</table>
	<input type="submit" value="Update Profile" />
</form>
{% endblock %}
