
<div id="navigation">
<div id ="toplevel">
<ul class="navigation_toplevel">
<li id="services" class="navigation_toplevel_item">
	<a href="#">
		Student Services
	</a>
</li>
<li id="indrel" class="navigation_toplevel_item">
	<a href="#">
		Industry Relations
	</a>
</li> 
<li id="event" class="navigation_toplevel_item">
	<a href="#">
		Events
	</a>
</li> 
{% if perms.main.hkn_candidate_plus %}
<li id="info" class="navigation_toplevel_item">
	<a href="#">
		People
	</a>
</li> 
{% endif %}
<li id="alumni" class="navigation_toplevel_item">
	<a href="#">
		Alumni Network
	</a>
</li> 
<li id="about" class="navigation_toplevel_item">
	<a href="#">
		About HKN
	</a>
</li> 
{% if perms.main.hkn_officer %}
<li id="admin" class="navigation_toplevel_item">
	<a href="#">
		Administration
	</a>
</li> 
{% endif %}
</ul>
</div>




<div class="submenu" id ="services_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url tutor-view-schedule %}">
		Tutoring
	</a>
</li>
<li>	
	<a href="/student/CourseSurvey">
		Course Surveys
	</a>
</li>
<li>	
	<a href="{% url exam-browse %}">
		Exam Archive
	</a>
</li>
<li>	
	<a href="{% url review-home%}">
		Review Problems
	</a>
</li>
<li>	
	<a href="/services/more/">
		More Services
	</a>
</li>
</ul>
</div>

<div class="submenu" id ="indrel_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="#">
		Resume Books
	</a>
</li>
<li>	
	<a href="#">
		Infosessions
	</a>
</li>
<li>	
	<a href="#">
		Career Fair
	</a>
</li>
</ul>
</div>

{% if perms.main.hkn_candidate_plus %}
<div class="submenu" id ="info_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url person-list-category category="officers" %}" class="navigation_sublevel_item">
        Officers
	</a>
</li>
<li>	
	<a href="{% url person-list-category category="members" %}" class="navigation_sublevel_item">
        Members
	</a>
</li>
<li>	
	<a href="{% url person-list-category category="candidates" %}" class="navigation_sublevel_item">
        Candidates
	</a>
</li>
</ul>
</div>
{% endif %}

<div class="submenu" id ="event_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.event.event.calendar %}" class="navigation_sublevel_item">
		Events Calendar
	</a>
</li>
<li>	
	<a href="{% url event-list-category category="future" %}" class="navigation_sublevel_item">
		Upcoming Events
	</a>
</li>
<li>
	<a href="{% url event-list-category category="past" %}" class="navigation_sublevel_item">
		Past Events
	</a>	
</li>
{% if perms.main.hkn_candidate_plus %}
<li>
	<a href="{% url rsvp-list-mine %}" class="navigation_sublevel_item">
        My RSVPs
	</a>	
</li>
{% endif %}
</ul>
</div>

<div class="submenu" id ="alumni_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/alumni/registration/" class="navigation_sublevel_item">
		Registration
	</a>
</li>
<li>	
	<a href="/alumni/newsletter/" class="navigation_sublevel_item">
		Alumni Newsletter
	</a>
</li>
</ul>
</div>
<div class="submenu" id ="about_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/about/contact/" class="navigation_sublevel_item">
		Contact Information
	</a>
</li>
<li>	
	<a href="#" class="navigation_sublevel_item">
		Gallery and Yearbook
	</a>
</li>
<li>	
	<a href="{% url person-list-category category="officers" %}" class="navigation_sublevel_item">
		Current Officers
	</a>
</li>
</ul>
</div>

{% if perms.main.hkn_officer %}
<div class="submenu" id ="admin_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/admin/" class="navigation_sublevel_item">
		Django Admin
	</a>
</li>
<li>	
	<a href="{% url request-list %}" class="navigation_sublevel_item">
		Requests [{{ requests|length }}]
	</a>
</li>
<li>	
	<a href="{% url tutor-signup %}" class="navigation_sublevel_item">
		Tutor Signup
	</a>
</li>
{% if perms.info.group_tutor %}
<li>	
	<a href="{% url tutor-admin %}" class="navigation_sublevel_item">
		Tutor Admin
	</a>
</li>
<li>	
	<a href="{% url tutor-view-signups %}" class="navigation_sublevel_item">
		View Tutor Signups
	</a>
</li>
{% endif %}
</ul>
</div>
{% endif %}

</div>
