	<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
{% load hkn_extras %}
<head>
{% block head %}
<title>{% block title %}Eta Kappa Nu (HKN), Mu Chapter {% endblock %}</title>
{% block css %}
    {% include "css_common.inc" %}
    <link rel="stylesheet" type="text/css" href="/css/hkn-green.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}ajaxlist/ajaxlist.css">
    {% endblock %}
    <meta NAME="Keywords" CONTENT="HKN,Eta Kappa Nu,eta,kappa,nu,mu chapter,mu,berkeley,ucb,career 
fair,resume,eecs,3ab95fab25e674110eed26b2e988eaa3">
    {% block js %}
    {% include "js_common.inc" %}
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/navigation.js"></script>
    {% endblock %}
{% endblock %}
</head>

<body>
{% block header %}
<div id="header">
	<div id="logo">
		<a href="/">
			<img src ="{{STATIC_PREFIX}}images/site/LogoDraftPlain.png" style="border:none">
		</a>
	</div>
	{% include "hkn-menu.html" %}
</div>
{% endblock %}

<div id="content">
<div id="userbar">
    {% if user.is_authenticated %}
        Welcome, {{user.username}} (<a href="{% url info-person-profile %}">Settings</a> &middot; <a href="{% url logout %}">Logout</a>)
    {% else %}
        <form action="{% url login %}" method="post"> <label> Login </label>  <input class="short" name="username" value="username"> <input class="short" type="password" name="password" value="password"> <input type="hidden" name="next" value="{{ request.path }}"> <input type="submit" value="login"></form>
    {% endif %}
</div>
<div id="searchbar_wrapper">
{% block searchbar %}
{% endblock %}
<div style="clear: both"></div>
</div>

{% if messages %}
<div id="messages"> <ul>
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul> </div>
{% endif %}

{% block container %}

<div id="container">
<!--content-->
<!-- start main content block -->
<h1>{% block subtitle %}{% endblock %}</h1>
{% block content %}
{% endblock %}

<!-- end main content block -->

</div>
{% endblock%}
</div>

<div id="footer">
	<div id="footer-right">Eta Kappa Nu, Mu Chapter (<a href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</a>)</div>
	<div id="footer-left"><a href="/">HOME</a> | <a href="#">ABOUT</a> | <a href="#">CONTACT</a></div>
</div>

</body>
</html>
