<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
{% block head %}
{% block title %}<title>HKN {% block extratitle%} {% endblock %}</title>{% endblock %}
{% block css %}
{% include 'css_common.inc' %}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/hkn-liquid.css">
{% endblock %}
<meta NAME="Keywords" CONTENT="HKN,Eta Kappa Nu,eta,kappa,nu,mu chapter,mu,berkeley,ucb,career 
fair,resume,eecs,3ab95fab25e674110eed26b2e988eaa3">
{% block js %}
{% include 'js_common.inc' %}
{% endblock %}
{% endblock %}
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#003366" vlink="#003366" {% block body_extra %} {% endblock %}>


<!--page title-->
<div id="header">
{% block header %}
<!--<IMG SRC="/images/titles/hkntitle.gif" ALT="HKN Main Page" BORDER="0" HEIGHT="100" WIDTH="330">-->
{% endblock %}
</div>


<!--location mapper-->
<div id="location">
{% block location %}
	Wednesday, October 10, 2007
{% endblock %}
</div>


<!--main content starts-->
<div id="sidebar">

{% block sidebar %}
        <!--table of contents-->

	<span class="title">People</span>
	<br><a href="{% url hkn.info.list.list_people category="candidates"%}">Candidate Information</a>
	<br><a href="{% url hkn.info.list.list_people category="officers"%}">Officer Information</a>	
	<br>

	<br><span class="title">Events</span>
	<br><a href="{% url hkn.event.event.new %}">New Event</a>
	<br><a href="{% url hkn.event.list.list_events category="future" %}">Upcoming Events</a>
	<br><a href="{% url hkn.event.list.list_events category="past" %}">Past Events</a>	
	<br><a href="{% url hkn.event.rsvp.list.list_for_person person_id="me" %}">My RSVPs</a>
	<br><a href="{% url hkn.event.event.calendar %}">Events Calendar</a>
	<br>

	<br><span class="title">Candidates</span>
	<br><a href="{% url hkn.cand.initiate.initiate category="all"%}">Initiate Candidates!</a>
	<br><a href="{% url hkn.cand.confirm.requirements %}">My Confirmed Attendance</a>
	<br>

	<br><span class="title">Requests</span>
	<br><a href="{% url hkn.request.list.list_requests category="actives"%}">Confirm Requests [{{ requests|length }}]</A>
	<br>
	
	<br><span class="title">u want a revolution</span>
	<br><a href="{% url hkn.info.elect.elect %}">Elect New Officers</a>
	<br><a href="{% url hkn.info.elect.revolt %}">New Officer Revolt</a>
	<br>

	<br><span class="title">Tutoring</span>
	<br><a href="{% url hkn.tutor.views.schedule %}">Tutoring Schedule</a>
	<br><a href="{% url hkn.tutor.views.feedback %}">Tutoring Feedback</a>
	<br><a href="{% url hkn.tutor.views.contact %}">Contact Tutoring</a>
	<br>

	<br><span class="title">Exam Files</span>
	<br><a href="{% url exam-browse %}">Browse Exams</a>
	<br><a href="{% url exam-list %}">Search Exams</a>
	<br><a href="{% url exam-submit %}">Submit Exam</a>
	<br>
	
	<br><span class="title">Student Services</span>
	<br><a href="/student/CourseSurvey">Course Survey</a>
	<br>
	<br>
	
	{% if user.is_anonymous %}
	<form action="{% url hkn.auth.login.authenticate %}" method="post" enctype="multipart/form-data">
    <label class="small" for="login_username">User</label><br/>
    <input id="login_username" class="inputbox" type="text" name="username" value="" size=15/><br/>
    <label class="small" for="login_password">Password</label><br/>
	<input class="inputbox" type="password" name="password" value="" size=15/><br/>
    <input type="submit" class="button" style="margin-top: 3px;" value="Login" />
	<input type="hidden" name="redirect_url" value="/" />
    </form>
	{% else %}
	<span class="logout"> you are {{ user.username }} <a href="{% url hkn.auth.login.logout %}">(logout)</a></span>
	{% endif %}


<!--
	<IMG SRC="/images/trans.gif" WIDTH="11" HEIGHT="1" ALT="" BORDER="0">
	<br><br><A href="/images/shield_huge.gif"><IMG 
SRC="/images/shield256.gif" WIDTH="75" HEIGHT="122" BORDER=0></A>
-->
{% endblock %}
</div>

    <!--content-->
<div id="content">
<!-- start main content block -->
{% block content %}
{% endblock %}
<!-- end main content block -->
</div>

<!--footer-->
<div id="footer">

<div style="float: left; width: 30%; text-align: left;">Eta Kappa Nu, Mu Chapter</div>
<div style="float: left; width: 40%; text-align: center;">290 Cory: (510) 642-7346</div>
<div style="float: left; width: 30%; text-align: right;"><A href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</A></div>
</div>

</body>
</html>


