	<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html>
<head>

{% load hkn_extras %}
{% block title %}<title>HKN {% block extratitle%} {% endblock %}</title>{% endblock %}
{% block css %}
{% include "css_common.inc" %}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/hkn-green.css">
{% endblock %}
<meta NAME="Keywords" CONTENT="HKN,Eta Kappa Nu,eta,kappa,nu,mu chapter,mu,berkeley,ucb,career 
fair,resume,eecs,3ab95fab25e674110eed26b2e988eaa3">
{% block js %}
{% include "js_common.inc" %}
<script type="text/javascript" src="{{STATIC_PREFIX}}js/navigation.js"></script>
{% endblock %}
{% block extrahead %}
{% endblock %}
</head>

<body {% block body_extra %} {% endblock %}>

<div id="logo">
	<img src ="{{STATIC_PREFIX}}images/site/LogoDraftPlain.png">
</div>
	

<div id="navigation">
<div id ="toplevel">
<ul class="navigation_toplevel">
<li>	
	<a href = "#" class = "navigation_toplevel_item" id = "people">
		People
	</a>
</li>
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "event">
		Events
	</a>
</li>
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "candidates">
		Candidates
	</a>
</li>
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "request">
		Requests
	</a>
</li> 
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "tutor">
		Tutoring
	</a>
</li> 
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "services">
		Services
	</a>
</li> 
</ul>
</div>
<div class = "submenu" id = "people_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.info.list.list_people category="candidates"%}" class = "navigation_sublevel_item">
		Candidate Information
	</a>
</li>
<li>	
	<a href="{% url hkn.info.list.list_people category="officers"%}" class = "navigation_sublevel_item">
		Officer Information
	</a>
</li>
</ul>
</div>
<div class = "submenu" id ="event_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.event.event.new %}" class = "navigation_sublevel_item">
		New Event
	</a>
</li>
<li>	
	<a href="{% url hkn.event.list.list_events category="future" %}" class = "navigation_sublevel_item">
		Upcoming Events
	</a>
</li>
<li>
	<a href="{% url hkn.event.list.list_events category="past" %}">
		Past Events
	</a>	
</li>
<li>
	<a href="{% url hkn.event.rsvp.list.list_for_person person_id="me" %}">
		My RSVPs
	</a>
</li>
<li>
	<a href="{% url hkn.event.event.calendar %}">
		Events Calendar
	</a>
</li>
</ul>
</div>
<div class = "submenu" id ="candidates_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.cand.initiate.initiate category="all"%}">
		Initiate Candidates!
	</a>
</li>
<li>	
	<a href="{% url hkn.cand.confirm.requirements %}">
		My Confirmed Attendance
	</a>
</li>
</ul>
</div>
<div class = "submenu" id ="request_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.request.list.list_requests category="actives"%}">
		Confirm Requests [{{ requests|length }}]
	</a>
</li>
</ul>
</div>

<div class = "submenu" id ="tutor_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.tutor.views.schedule %}">
		Tutoring Schedule
	</a>
</li>
<li>	
	<a href="{% url hkn.tutor.views.feedback %}">
		Tutoring Feedback
	</a>
</li>
<li>	
	<a href="{% url hkn.tutor.views.contact %}">
		Contact Tutoring
	</a>
</li>

</ul>
</div>

<div class = "submenu" id ="services_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/student/CourseSurvey">
		Course Surveys
	</a>
</li>
<li>	
	<a href="/exam/">
		Online Exams
	</a>
</li>
</ul>
</div>

<div id="navbar_shadow"></div>

</div>

<!--page title-->
<div id="header">
{% block header %}
<!--<IMG SRC="/images/titles/hkntitle.gif" ALT="HKN Main Page" BORDER="0" HEIGHT="100" WIDTH="330">-->
{% endblock %}
</div>	


<div id = "container">

<!--content-->
<!-- start main content block -->
{% block content %}
	Content goes here! Extend "content" block in template :) :) :) <3 <3 <3
{% endblock %}
<!-- end main content block -->

</div>

<!--footer-->
<div id="footer">

<div id="footer-left">
	<a href="#">HOME</a> | <a href="#">CONTACT</a>	
</div>
<div id="footer-right">Eta Kappa Nu, Mu Chapter (<a href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</a>)</div>
</div>

</body>
</html>


