<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
 <!--[if IE]>
  <style type="text/css">
  #toplevel li a {
  padding: 0 0 0 3px;
  }
 </style>
 <![endif]-->

{% load hkn_extras %}
{% block title %}<title>HKN {% block extratitle%} {% endblock %}</title>{% endblock %}
{% block css %}
{% include "css_common.inc" %}
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}css/hkn-arjun.css">
{% endblock %}
<meta NAME="Keywords" CONTENT="HKN,Eta Kappa Nu,eta,kappa,nu,mu chapter,mu,berkeley,ucb,career 
fair,resume,eecs,3ab95fab25e674110eed26b2e988eaa3">
{% block js %}
{% include "js_common.inc" %}
<script type="text/javascript" src="{{STATIC_PREFIX}}js/navigation.js"></script>
{% endblock %}
{% block extrahead %}
{% endblock %}
</head>

<body {% block body_extra %} {% endblock %}>

<div id="logo">
	<img src ="{{STATIC_PREFIX}}images/site/LogoDraftPlain.png">
</div>
	

<div id="navigation">
<div id ="toplevel">
<ul class="navigation_toplevel">
<li>	
	<a href = "#" class = "navigation_toplevel_item" id = "people">
		<span>
			People
		</span>
	</a>
</li>
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "event">
		<span>
			Events
		</span>
	</a>
</li>
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "candidates">
		<span>
			Candidates
		</span>
	</a>
</li>
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "request">
		<span>
			Requests
		</span>
	</a>
</li> 
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "tutor">
		<span>
			Tutoring
		</span>
	</a>
</li> 
<li>
	<a href = "#" class = "navigation_toplevel_item" id = "services">
		<span>
			Services
		</span>
	</a>
</li> 
</ul>
</div>
<div class = "submenu" id = "people_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.info.list.list_people category="candidates"%}" class = "navigation_sublevel_item">
		Candidate Information
	</a>
</li>
<li>	
	<a href="{% url hkn.info.list.list_people category="officers"%}" class = "navigation_sublevel_item">
		Officer Information
	</a>
</li>
</ul>
</div>
<div class = "submenu" id ="event_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.event.event.new %}" class = "navigation_sublevel_item">
		New Event
	</a>
</li>
<li>	
	<a href="{% url hkn.event.list.list_events category="future" %}" class = "navigation_sublevel_item">
		Upcoming Events
	</a>
</li>
<li>
	<a href="{% url hkn.event.list.list_events category="past" %}">
		Past Events
	</a>	
</li>
<li>
	<a href="{% url hkn.event.rsvp.list.list_for_person person_id="me" %}">
		My RSVPs
	</a>
</li>
<li>
	<a href="{% url hkn.event.event.calendar %}">
		Events Calendar
	</a>
</li>
</ul>
</div>
<div class = "submenu" id ="candidates_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.cand.initiate.initiate category="all"%}">
		Initiate Candidates!
	</a>
</li>
<li>	
	<a href="{% url hkn.cand.confirm.requirements %}">
		My Confirmed Attendance
	</a>
</li>
</ul>
</div>
<div class = "submenu" id ="request_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.request.list.list_requests category="actives"%}">
		Confirm Requests [{{ requests|length }}]
	</a>
</li>
</ul>
</div>

<div class = "submenu" id ="tutor_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="{% url hkn.tutor.views.schedule %}">
		Tutoring Schedule
	</a>
</li>
<li>	
	<a href="{% url hkn.tutor.views.feedback %}">
		Tutoring Feedback
	</a>
</li>
<li>	
	<a href="{% url hkn.tutor.views.contact %}">
		Contact Tutoring
	</a>
</li>

</ul>
</div>

<div class = "submenu" id ="services_submenu">
<ul class="navigation_sublevel">
<li>	
	<a href="/student/CourseSurvey">
		Course Surveys
	</a>
</li>
<li>	
	<a href="/exam/">
		Online Exams
	</a>
</li>
</ul>
</div>

<div id="navbar_shadow"></div>

</div>

<!--page title-->
<div id="header">
{% block header %}
<!--<IMG SRC="/images/titles/hkntitle.gif" ALT="HKN Main Page" BORDER="0" HEIGHT="100" WIDTH="330">-->
{% endblock %}
</div>	

<!--location mapper-->
<!--<div id="location">
{% block location %}
	Wednesday, October 10, 2007
{% endblock %}
</div>-->


<!--main content starts-->
<!--<div id="sidebar">

{% block sidebar %}
        <!--table of contents->
	
	<br><span class="title">u want a revolution</span>
	<br><a href="{% url hkn.info.elect.elect %}">Elect New Officers</a>
	<br><a href="{% url hkn.info.elect.revolt %}">New Officer Revolt</a>
	<br>




	

	<br>
	<br>
	
	{% if user.is_anonymous %}
	<form action="{% url hkn.auth.login.authenticate %}" method="post" enctype="multipart/form-data">
    <label class="small" for="login_username">User</label><br/>
    <input id="login_username" class="inputbox" type="text" name="username" value="" size=15/><br/>
    <label class="small" for="login_password">Password</label><br/>
	<input class="inputbox" type="password" name="password" value="" size=15/><br/>
    <input type="submit" class="button" style="margin-top: 3px;" value="Login" />
	<input type="hidden" name="redirect_url" value="/" />
    </form>
	{% else %}
	<span class="logout"> you are {{ user.username }} <a href="{% url hkn.auth.login.logout %}">(logout)</a></span>
	{% endif %}


<!--
	<IMG SRC="/images/trans.gif" WIDTH="11" HEIGHT="1" ALT="" BORDER="0">
	<br><br><A href="/images/shield_huge.gif"><IMG 
SRC="/images/shield256.gif" WIDTH="75" HEIGHT="122" BORDER=0></A>
->
{% endblock %}
</div>-->

<div id = "container">

    <!--content-->
<!-- start main content block -->
{% block content %}
	Content goes here! Extend "content" block in template :) :) :) <3 <3 <3
{% endblock %}
<!-- end main content block -->

</div>

<!--footer-->
<div id="footer">

<div style="float: left; width: 30%; text-align: left;">Eta Kappa Nu, Mu Chapter</div>
<div style="float: left; width: 40%; text-align: center;">290 Cory: (510) 642-7346</div>
<div style="float: left; width: 30%; text-align: right;"><A href="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</A></div>
</div>

</body>
</html>


