<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
{% load hkn_extras %}
{% block title %}<title>HKN {% block extratitle%} {% endblock %}</title>{% endblock %}
<LINK REL="stylesheet" TYPE="text/css" HREF="{{ROOT_URL}}css/hkn.css">
<LINK REL="stylesheet" TYPE="text/css" HREF="{{ROOT_URL}}css/info.css">
<META NAME="Keywords" CONTENT="HKN,Eta Kappa Nu,eta,kappa,nu,mu chapter,mu,berkeley,ucb,career 
fair,resume,eecs,3ab95fab25e674110eed26b2e988eaa3">
{% block js %}
<!-- <script type="text/javascript" src="/js/protoaculous1.6.packed.js" > </script> -->
<script type="text/javascript" src="{{ROOT_URL}}js/jquery-1.2.1.js" > </script>
<script type="text/javascript" src="{{ROOT_URL}}js/jquery.form.js"></script>
{% endblock %}
{% block extrahead %}
{% endblock %}
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#003366" VLINK="#003366" {% block body_extra %} {% endblock %}>


<!--page title-->
<div id="header">
{% block header %}
<!--<IMG SRC="/images/titles/hkntitle.gif" ALT="HKN Main Page" BORDER="0" HEIGHT="100" 
WIDTH="330">-->
{% endblock %}
</div>


<!--location mapper-->
<div id="location">
{% block location %}
	Wednesday, October 10, 2007
{% endblock %}
</div>


<!--main content starts-->
<div id="sidebar">

{% block sidebar %}
        <!--table of contents-->

	<SPAN CLASS="title">People</SPAN>
	<BR><A HREF="{% url hkn.info.list.list_people category="candidates"%}">Candidate Information</A>
	<BR><A HREF="{% url hkn.info.list.list_people category="officers"%}">Officer Information</A>	
	<BR>

	<br><SPAN CLASS="title">Events</SPAN>
	<BR><A HREF="{% url hkn.event.event.new %}">New Event</A>
	<BR><A HREF="{% url hkn.event.list.list_events category="future" %}">Upcoming Events</A>
	<BR><A HREF="{% url hkn.event.list.list_events category="past" %}">Past Events</A>	
	<BR><A HREF="{% url hkn.event.rsvp.list.list_for_person person_id="me" %}">My RSVPs</A>
	<BR><A HREF="{% url hkn.event.event.calendar %}">Events Calendar</A>
	<BR>

	<br><SPAN CLASS="title">Candidates</SPAN>
	<BR><A HREF="{% url hkn.cand.initiate.initiate category="all"%}">Initiate Candidates!</A>
	<BR><A HREF="{% url hkn.cand.confirm.requirements %}">My Confirmed Attendance</A>
	<BR>

	<br><SPAN CLASS="title">Requests</SPAN>
	<BR><A HREF="{% url hkn.request.list.list_requests category="actives"%}">Confirm Requests [{{ requests|length }}]</A>
	<BR>
	
	<br><SPAN CLASS="title">u want a revolution</SPAN>
	<BR><A HREF="{% url hkn.info.elect.elect %}">Elect New Officers</A>
	<BR><A HREF="{% url hkn.info.elect.revolt %}">New Officer Revolt</A>
	<BR>

	
	<BR><SPAN CLASS="title">Student Services</SPAN>
	<BR><A HREF="/student/CourseSurvey">Course Survey</A>
	<BR><A HREF="/exam/">Online Exams</A>
	<BR>
	<BR>
	
	{% if user.is_anonymous %}
	<form action="/authenticate/" method="post" enctype="multipart/form-data">
	User: <input class="inputbox" type="text" name="username" value="" size=15/><br>
	Pass: <input class="inputbox" type="password" name="password" value="" size=15/><br>
	<input type="hidden" name="redirect_url" value="/" />
	<input type="submit" class="button" value="Login" />
	{% else %}
	<SPAN CLASS="logout"> you are {{ user.username }} <A HREF="/logout">(logout)</A></SPAN>
	{% endif %}


<!--
	<IMG SRC="/images/trans.gif" WIDTH="11" HEIGHT="1" ALT="" BORDER="0">
	<BR><BR><A HREF="/images/shield_huge.gif"><IMG 
SRC="/images/shield256.gif" WIDTH="75" HEIGHT="122" BORDER=0></A>
-->
{% endblock %}
</div>

    <!--content-->
<div id="content">
<!-- start main content block -->
{% block content %}
	Content goes here! Extend "content" block in template :) :) :) <3 <3 <3
{% endblock %}
<!-- end main content block -->
</div>

<!--footer-->
<div id="footer">

<div style="float: left; width: 30%; text-align: left;">Eta Kappa Nu, Mu Chapter</div>
<div style="float: left; width: 40%; text-align: center;">290 Cory: (510) 642-7346</div>
<div style="float: left; width: 30%; text-align: right;"><A HREF="mailto:www@hkn.eecs.berkeley.edu">www@hkn.eecs.berkeley.edu</A></div>
</div>

</BODY>
</HTML>


