{% extends "review/review.html" %}

{% block css %}
{{block.super}}
<style type="text/css">
	.font1{font-size: small}
	.font2{font-size: medium}
	.font3{font-size: large}
	.font4{font-size: x-large}
</style>
{% endblock %}
{% block js %}
{{block.super}}
{% endblock %}

{% block subtitle %} Browse by Subject {% endblock %}
{% block topright %}{% endblock %}
{% block reviewcontents %}

{% for tag_group in tags %}
<div>
	{% for t in tag_group %}
		<a class="font{{t.font_size}}" href={% url review-tag tag_name=t %}>{{t}}</a>
	
	{% endfor %}
</div>
{% endfor %}



{% endblock %}
