{% extends "base.html" %}
{% load ajaxtable %}

{% block subtitle %} Review Problems {% endblock %}
{% block title %} {{ block.super }} - Student Services - Review Problems {% endblock %}
{% block searchbar %}
<div style="text-align: right">
	<form method="GET" action="{% url review-search %}">
	<input name="query" class="ajaxinfo" value="{{ query }}"  />
	<input type="submit" value="Search" />
	</form>
	<div class="small searchelp">search by tag e.g. cs3, recursion</div>
	</div>
{% endblock %}
{% block topright %}
<a href="{% url review-browse-tags %}">Browse Problems</a>
{% endblock %}

{% block content %}

{% block reviewcontents %}
{% endblock %}

{% block submit_link %}
<h3>Interested in contributing? Submit a review problem <a href="{% url review-submit %}">here</a>.</h3>
{% endblock %}

{% endblock %}