{% extends "review/review.html" %}
{% load ajaxtable %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/rating_bar.css">
{% endblock %}

{% block js %}
{{block.super}}
{% ajaxlist_js %}
{% endblock %}

{% block subtitle %}Review Problems - Search {% endblock %}

{% block reviewcontents %}
<span>Search by tag: {% control search %}</span> 

{% ajaxwrapper problems %}
	{% if results %}
	{% control pager %}
	{% ajaxtable results "review/_header.html" "review/_problem.html"  checks=on%}
	{% control pager %}
	{% endif %}
{% endajaxwrapper %}
<br />
<a href="{% url review-selected %}">View Selected Problems </a>, <a class="ajaxlist_clear_items" href="#">Clear Selected Problems</a>
{% endblock %}