{% extends "review/review.html" %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/rating_bar.css">
{% endblock %}

{% block js %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function(){
	function postChecks(url){
		var checks = [];
		$(":checked").each(function(){
			checks.push(this.value);
		});
		
		$.post(url, { problems : checks.join(' ')});
		$("p").html(checks.join(' '));
	}
	$("#rem_probs").click(function(){
							postChecks("{% url review-remove-selected %}");
							location.reload();
						});
});
		
</script>

{% endblock %}

{% block subtitle %}Review Problems - Selected Problems {% endblock %}

{% block reviewcontents %}

<table>
<tr>
	<th>Title</th>
	<th>Difficulty</th>
	<th>Question</th>
	<th>Answer</th>
</tr>
{% for p in problems %}
	{% include "review/_problem.html" %}
{% endfor %}
</table>
<br />

<div style="float:right">
<a href={% url review-merge-problems %}>Merge Problems</a>
<a href={% url review-merge-solutions %}>Merge Solutions</a>
<input type="button" value="Remove from Selected Problems" id="rem_probs" />
</div>

{% endblock %}