{% extends "review/review.html" %}
{% load ajaxtable %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/rating_bar.css">
{% endblock %}

{% block js %}
{{block.super}}
{% ajaxlist_js %}
{% endblock %}

{% block subtitle %}Review Problems - Selected Problems {% endblock %}

{% block reviewcontents %}

{% ajaxwrapper problems %}
	{% if problems %}
	{% ajaxtable problems "review/_header.html" "review/_problem.html"  remove_item=on%}
	{% else %}
	<p> No problems have been selected. </p>
	{% endif %}
{% endajaxwrapper %}
<br />

{% if problems %}
<div>
<a href={% url review-merge-problems %}>Merge Problems</a>
<a href={% url review-merge-solutions %}>Merge Solutions</a>
<a class="ajaxlist_clear_items" href="#">Clear Problems</a>
</div>
{% endif %}

{% endblock %}