{% extends "review/review.html" %}
{% load ajaxtable %}

{% block subtitle %} Review Problem - Test {% endblock %}
{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/rating_bar.css">
{% endblock %}

{% block js %}
{{block.super}}
{% ajaxlist_js %}
{% endblock %}

{% block reviewcontents %}
{% control notify %}
{% control search %}
{% ajaxwrapper problems %}
<p>{{printinfo}}</p>
	{% control pager %} 
	{% ajaxtable list_objects "review/_header.html" "review/_problem.html" checks=on %}
	{% control pager %}
{% endajaxwrapper %}
<br />
<a href="{% url review-selected %}">View Selected Problems </a>, <a class="ajaxlist_clear_items" href="#">Clear Selected Problems</a>
{% endblock %}