{% extends "review/review.html" %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/rating_bar.css">
{% endblock %}

{% block subtitle %}Review Problems - View Problem {% endblock %}

{% block reviewcontents %}

<table>
	<tr><th>Title:</th><td>{{problem.name}}</td></tr>
	<tr><th>Description:</th><td>{{problem.description}}</td></tr>
	<tr><th>Tags:</th>
		<td>
			{% for t in problem.tag_list %}
				<a href={% url review-tag tag_name=t %}>{{t}}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</td>
	</tr>
	<tr><th>Difficulty:</th><td>{% with problem.difficulty as val %} {% include "review/_bar.html" %} {% endwith %}</td></tr>
	<tr><th>Question:</th><td><a href={{problem.get_question_url}}>[link]</a></td></tr>
	<tr><th>Answer:</th><td><a href={{problem.get_answer_url}}>[link]</a></td></tr>
</table>

{% endblock %}