{% extends "review/review.html" %}
{% load ajaxtable %}

{% block subtitle %}Review Problems - {{tag}} {% endblock %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/rating_bar.css">
{% endblock %}

{% block js %}
{{block.super}}
{% ajaxlist_js %}
{% endblock %}

{% block reviewcontents %}

{% ajaxwrapper problems %}
	{% ajaxtable problems "review/_header.html" "review/_problem.html" checks=on %}
{% endajaxwrapper %}

<h4>Related Tags:</h4>
{% for t in rel_tags %}
	<a href="{% url review-tag tag_name=t %}">{{t}}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}

{% endblock %}