{% extends "list/list_objects.html" %}

{% block objects_content %}
<form id="initiation_form" action="{% url hkn.cand.initiate.initiate_ajax %}" method="post">
<input type="hidden" name="sort" value="{{sort}}" />
<input type="hidden" name="page" value="{{page}}" />
<input type="hidden" name="max" value="{{max}}" />
<input type="hidden" name="category" value="{{category}}" />
<input type="hidden" name="query" value="{{query}}" />

<input class="button" type=submit value="save">
<table class="list"><tr>
<th>Name</th>
<th>Initiation Comment</th>
</tr>
{% for c in candidates %}
<tr>
<td> <input type=checkbox name="{{c.id}}.initiated" {% if c.is_initiated %} checked="yes" {% endif %} /> {{ c.name }} ({{c.events_attended}})<br><span style="font-size: 10">(<a href="{% url hkn.info.person.view person_id=c.id %}">see details</a>)</span></td>
<td><input type=text name="{{c.id}}.comment" value="{{c.comment}}"/></td>
</tr>
{% endfor %}
</table>
<input class="button" type=submit value="save">
</form>

<script language="javascript">
$('#initiation_form').ready(function() {	       
	$('#initiation_form').ajaxForm(function(data) { 
		$('#objects_div').html(data);
	}); 
});
</script>


{% endblock %}
