{% extends "hkn.html" %}

{% block extrahead %}
<link href="/css/list.css" rel="stylesheet" />

<script language="javascript">
function filter(sort, page, max, category, query) {
	objects_url = "{{ objects_url }}"
	parameters = {"sort" : sort, "page" : page, "max" : max, "category" : category, "query" : query};
	new Ajax.Updater('objects_div', objects_url, {method : 'get', parameters : parameters, asynchronous:true, evalScripts : true});
	return false;
}

function queryOnEnter(e, sort, page, max, category) {
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;
	if (keycode == 13) {
		element = e.srcElement || e.target
		filter(sort, page, max, category, element.value);
		return false;
	}
	return true;
}

function toggleOptionsDiv(options_div, img_div) {
	var options = document.getElementById(options_div);
	var toggle_img = document.getElementById(img_div);	
	if ( options.style.display != 'none' ) {
		options.style.display = 'none';
		toggle_img.src = "/images/site/plus.gif";
	} else {
		options.style.display = '';
		toggle_img.src = "/images/site/minus.gif";		
	}
}


</script>
{% endblock %}

{% block body_extra %} onLoad='filter("{{ sort }}", "{{ page }}", "{{ max }}", "{{ category|escape }}", "{{ query|escape }}");' {% endblock %}


{% block content %}
{{ extra_body }}

<div id="objects_div">

</div>

{% endblock %}