{% block objects_query_top %}
	{% include "list/controls/query.html" %}
	<br/><br/>
{% endblock %}

{% block filter_categories_top %}
	{% if filter_categories %}
		{% include "list/controls/category_filter.html" %}
	{% endif %}
	<br/><br/>
{% endblock %}

{% spaceless %}
<table width="100%">
<td align="left">
{% block per_page_top %}
Showing {% include "list/controls/per_page.html" %} per page.
{% endblock %}
{% block objects_info_top %}
	{% include "list/controls/objects_info.html" %}
{% endblock %}
</td>
<td align="right">
{% block pages_top %}
	{% include "list/controls/pager.html" %}
{% endblock %}
</td>
</table>
{% endspaceless %}

{% block objects_content %}
	MAIN LIST CONTENT HERE ^_^
{% endblock %}

{% spaceless %}
<table width="100%">
<td align="left">
{% block per_page_bottom %}
Showing {% include "list/controls/per_page.html" %} per page. 
{% endblock %}
{% block objects_info_bottom %}
{% include "list/controls/objects_info.html" %}
{% endblock %}
</td>
<td align="right">
{% block pages_bottom %}
{% include "list/controls/pager.html" %}
{% endblock %}
</td>
</table>
{% endspaceless %}

{% block objects_query_bottom %}
{% include "list/controls/query.html" %}
<br/><br/>
{% endblock %}