{% block objects_query %}
<input id="objects_query" value="{{ query }}" onkeypress="return queryOnEnter(event, '{{ sort }}', '{{ page }}', '{{ max }}', '{{ category }}');" />
<a href="javascript:void(0)" onclick="filter('{{ sort }}', '{{ page }}', '{{ max }}', '{{ category }}', document.getElementById('objects_query').value);"> search! </a>
{% endblock %}

{% block filter_categories_top %}
{% if filter_categories %}
<br/><br/>
{% for cat in filter_categories.items %}
	<a href="javascript:void(0)" onclick="filter('{{ sort }}', '{{ page }}', '{{ max }}', '{{ cat.1 }}', '{{ query }}');"> {{cat.0}} </a>
	<br/>
{% endfor %}
{% endif %}
{% endblock %}

<br/><br/>
{% block pages_top %}
{% for page_i in page_range %}
	<a href="javascript:void(0)" onclick="filter('{{ sort }}', '{{ page_i }}', '{{ max }}', '{{ category }}', '{{ query }}');"> {{page_i}} </a>
{% endfor %}
{% endblock %}
<br/>
{% block per_page_top %}
{% for pp in per_page %}
	<a href="javascript:void(0)" onclick="filter('{{ sort }}', '{{ page }}', '{{ pp }}', '{{ category }}', '{{ query }}');"> {{ pp }} </a>
{% endfor %}
{% endblock %}

{% block objects_content %}
MAIN LIST CONTENT HERE ^_^
{% endblock %}

{% block pages_bottom %}
{% for page_i in page_range %}
	<a href="javascript:void(0)" onclick="filter('{{ sort }}', '{{ page_i }}', '{{ max }}', '{{ category }}', '{{ query }}');"> {{page_i}} </a>
{% endfor %}
{% endblock %}
