<h2 class="cportal">Challenges 
{% if challenges_left %}
<span class="small checklist_in_progress">[Need {{challenges_left}} more]</span>
{% else %}
<span class="small checklist_done">[Done]</span>
{% endif %}
</h2>
<form action="{% url challenge-create %}" method="post">
<table class="checklist"><tbody>
{% if at_least_one_challenge %}
<tr><th>Name of Challenge</th><th>Officer Name</th><th>Status</th></tr>
{% endif %}
{% for challenge in challenges %}
<tr>
  <td>{{ challenge.name }}</td><td><a href="{% url info.person.view challenge.officer.id %}">{{ challenge.officer.first_name }} {{ challenge.officer.last_name }}</a></td>
  <td>
{% if challenge.status %}
<span class="small checklist_done">[Confirmed]</span>
{% else %}
    {% ifequal challenge.status None %}
<span class="small checklist_in_progress">[Pending]</span>
    {% else %}
<span class="small checklist_not_done">[Rejected]</span>
    {% endifequal %}
{% endif %}
</td></tr>
{% endfor %}
</tbody>
</table>

<div id="challenge_create">
  <p> Request Challenge Confirmation </p>
  <div id="challenge_request_flash"></div>
  <label for="id_officer_query">Find Officer</label>
  <input type="text" class="ajaxinfo" autocomplete="off" name="officer_autocomplete" id="id_officer_query" value=""/>
  <label for="id_challenge_name">Challenge Name</label>
  <input type="text" class="ajaxinfo" id="id_challenge_name" name="challenge_name" value=""/>
  <input type="hidden" id="id_officer_id" class="ajaxinfo" name="officer_id" value=""/>
  <input id="challenge_submit" type="submit" value="Send Request">
</div>
