{% extends "base.html" %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/cportal.css">
{% endblock %}

{% block js %}
{{block.super}}
{% endblock %}

{% block subtitle %}Course Survey Admin{% endblock %}

{% block content %}
<ul>
  <li><a href="{% url course-survey-select-classes %}">Select classes to be surveyed this semester</a></li>
  <li><a href="{% url course-survey-admin-manage %}">Manage classes to be surveyed this semester</a></li>
  <li><a href="{% url course-survey-admin-manage-candidates %}">Manage candidates this semester</a></li>
</ul>
{% endblock %}
