{% extends "base.html" %}

{% block css %}
{{block.super}}
<link type="text/css" href="{{STATIC_PREFIX}}css/course_survey.css" rel="stylesheet" />
{% endblock %}

{% block subtitle %}Course Survey Signup{% endblock %}

{% block content %}
<p>Please sign up for <strong>{{ surveys_needed }}</strong> more survey{{ surveys_needed|pluralize }}.</p>
<form action="" method="POST">
<table id="course-survey-table">
  <tr>
    <th>Sign Up</th>
    <th>Course Number</th>
    <th>Section</th>
    <th>Title</th>
    <th>Instructor</th>
    <th>Times</th>
    <th>Location</th>
    <th>Notes</th>
  </tr>
{% for klass in klasses %}
  <tr>
    <td>
      {% if klass.full %}
      <strong>FULL</strong>
      {% else %}
        {% if klass.signed_up %}
      <strong>SIGNED UP</strong>
        {% else %}
      <input type="checkbox" name="klass_{{klass.id}}" id="klass_{{klass.id}}" value="klass_{{klass.id}}" />
        {% endif %}
      {% endif %}
    </td>
    <td>{{ klass.course.short_name }}</td>
    <td>{{ klass.section }}</td>
    <td>{{ klass.course.name }}</td>
    <td>{{ klass.instructor_names }}</td>
    <td>{{ klass.times }}</td>
    <td>{{ klass.location }}</td>
    <td>{{ klass.section_note|truncatewords:8 }}</td>
  </tr>
{% endfor %}
</table>
<input type="submit" name="Submit"/>
</form>
{% endblock %}
