{% extends "base.html" %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/cportal.css">
<link rel="stylesheet" type="text/css" href="/static/css/landing.css">
<link type="text/css" href="{{STATIC_PREFIX}}css/course_survey.css" rel="stylesheet" />
{% endblock %}

{% block js %}
{{block.super}}
<script type="text/javascript" src="/static/js/officer_autocomplete.js"></script>
<script type="text/javascript" src="/static/js/landing.js"></script>
{% endblock %}

{% block subtitle %}Candidate Portal{% endblock %}


{% block content %}
<!--content-->
<!-- start main content block -->
<div style="float: left;"><h1></h1></div>
<div style="float: right;"></div>
<div style="clear: both;"></div>

<!--side bar-->
<div id="infobar">
	<h1>Upcoming Events</h1>
	<div class="section">
		{% include "cand/_landing_event.html" %}
	</div>
</div>

<!--start main content-->

<h1>Checklist</h1>
<h2 class="cportal">Events</h2>
<table class="checklist"><tbody>
	{% include "cand/_list_checklist_events.html" %}
</tbody></table>

{% include "cand/_list_challenges.html" %}

{% include "cand/_list_surveys.html" %}

<h2 class="cportal">Forms</h2>
<table class="checklist"><tbody>
<tr><th><a href="{% url resume-upload %}">Resume</a></th><td>
{% if submitted_resume %}
<span class="checklist_done">[Done]
{% else %}
<span class="checklist_not_done">[Not Done]
{% endif %}
</span></td></tr>

<tr><th><a href="{% url cand-quiz %}">Quiz</a></th><td>
{% if completed_quiz %}
<span class="checklist_done">[Done]
{% else %}
<span class="checklist_not_done">[Not Done]
{% endif %}
</span></td></tr>

</tbody></table>
{% endblock %}
