{% extends "event/base.html" %}
{% load ajaxtable %}

{% block subtitle %}RSVPs - {{ event.name }}{% endblock %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
<script language="javascript">
ajaxlist_checkbox_post_address = "{% url rsvp-confirm %}";
</script>
{% endblock %}


{% block content %}

{% if show_confirm_form %}
    {% ajaxwrapper rsvps %}
        {% ajaxtable rsvps "event/rsvp/ajax/_event_header.html" "event/rsvp/ajax/_event_row.html" checks=on selected_attribute=vp_confirm %}
    {% endajaxwrapper %}
{% else %}
    {% ajaxwrapper rsvps %}
        {% ajaxtable rsvps "event/rsvp/ajax/_event_header.html" "event/rsvp/ajax/_event_row.html" selected_attribute=vp_confirm %}
    {% endajaxwrapper %}
{% endif %}
{% endblock %}

