{% extends "info/hkn.html" %}

{% block extrahead %}
<link href="/css/list.css" rel="stylesheet" />
<title>RSVPs: {{ event.name }} </title>
{% endblock %}

{% block content %}
<table class="list"><tr>
<th>Name</th>
<th>Phone</th>
<th>Comment</th>
{% if event.rsvp_block %}
<th>Time Blocks</th>
{% endif %}
{% if event.rsvp_transportation_necessary %}
<th>Transport</th>
{% endif %}
</tr>
{% for rsvp in rsvps %}
<tr>
<td>{{ rsvp.person.name }}</td>
<td>{{ rsvp.person.extendedinfo.get_phone }}</td>
<td> {{ rsvp.comment }} </td>
{% if event.rsvp_transportation_necessary %}
<td> {{ rsvp.transport }} </td>
{% endif %}
{% if event.rsvp_block %}
<td> {{ rsvp.get_block_descriptions }} </td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
