{% extends "info/hkn.html" %}

{% block extrahead %}
<link href="/css/list.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<table class="list"><tr>
<th>Event Name</th>
<th>Time</th>
<th>Comment</th>
<th>Transport</th>
<th>Time Blocks</th>
</tr>
{% for rsvp in rsvps %}
<tr>
<td>{{ rsvp.event.name }}<br><span style="font-size: 10">(<a href="/event/rsvp/{{ rsvp.event.event_id}}">edit</a> <a href="/event/rsvp/delete/{{ rsvp.event.event_id}}">del</a>)</td>
<td>{{ rsvp.event.start_time|date:"l m/d g:ia" }}-{{ rsvp.event.end_time|date:"g:ia" }}</td>
<td> {{ rsvp.comment }} </td>
<td> {% if rsvp.event.rsvp_transportation_necessary %} {{rsvp.transport}} {% else %} - {% endif %} </td>
<td> {% if rsvp.is_block %} {{ rsvp.get_block_descriptions }} {% endif %} </td>
</tr>
{% endfor %}
</table>
{% endblock %}
