{% spaceless %}
<div class="filters">
    <div class="column">
        <div id="field_course">
            <label for="id_course_query">Course</label>
            <input type="text" class="ajaxinfo" autocomplete="off" name="exam_course" id="id_course_query" value="{{ exam_course }}"/>
        </div>
    </div>
    <div class="column">
        <div id="field_instructor">
            <label for="id_instructor_query">Instructor</label>
            <input type="text" class="ajaxinfo" autocomplete="off" name="exam_instructor" id="id_instructor_query" value="{{ exam_instructor }}"/>
        </div>
    </div>
	<div><label>&nbsp;</label></div>
	<div class="column" id="field_submit">
            <a id="id_filter_link" href="javascript:void(0)">Search</a>
        </div>
    <div style="clear: both"> </div>
</div>
<div style="clear: both"> </div>
{% endspaceless %}
