{% extends "exam/exam.html" %}

{% block subtitle %}Exam Files - Browse Departments{% endblock %}

{% block examcontent %}
<style type="text/css">
div.browse_wrapper {
    float: left;
    width: 20em;
    padding-left: 1em;
}

div.browse_clear {
    clear: left;
}

ul.browse_l {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: outside;
}

ul.browse_l li {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    font-size: small;
    text-indent: -1em;
}

</style>
{% for dept_list in dept_lists %}
<div class="browse_wrapper">
<ul class="browse_l">
  {% for dept in dept_list %}
  <li><a class="department" href="/exam/browse/{{dept.abbr}}/">{{dept.name}}</a></li>
  {% endfor %}
</ol>
</div>
{% endfor %}
<div class="browse_clear" > &nbsp; </div>
<br />
{% endblock %}
