{% extends "exam/exam.html" %}
{% load ajaxtable %}

{% block css %}
{{ block.super }}
<link href="{{STATIC_PREFIX}}exam/exam.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
{{ block.super }}
{% ajaxlist_js %}
<script type="text/javascript" src="{{STATIC_PREFIX}}exam/exam.js"></script>
{% endblock %}

{% block subtitle %} Search Exams{% endblock %}

{% block content %}
{% include "exam/_exam_filters.html" %}
{% control spinner %}
{% if view_unpublished %}
	<h1 class="warning">Viewing unpublished exams</h1>
{% endif %}
{% ajaxwrapper exams %}
        {% for course, exam_dict2 in exams_dict.items %}
            <h1 class="clickhide"> {{ course.short_name }}</h1>
            <div class="exam_course" style="margin-left: 7px">
                <table class="ajaxtable">
                    <tr>
                        <th>Semester</th>
                        <th>Instructor</th>
						<th>Midterm 1</th>
						<th>Midterm 2</th>
						<th>Midterm 3</th>
						<th>Final </th>
                    </tr>
					{% for exam_klass, exam_groups in exam_dict2.items%}
					<tr class="exam {% cycle 'even' 'odd' %}">
						<td class="semester">{{ exam_klass.pretty_semester }}</td>
						<td class="instructor"><a href="javascript:void(0)" onclick="setInstructor('{{ exam_klass.instructor_names }}');"> {{ exam_klass.instructor_names|title }}</a></td>
						{% for exam_type, exams in exam_groups.items %}
						<td class="{{exam_type}} exam">
							{% for exam in exams %}
              {% if not exam.publishable %}
                <div class = "unpublishable">
              {% endif %}
							  {% if exam.is_solution %}
							  <a href="{{exam.file.url}}">[solution]</a>
							  {% else %}
							  <a href="{{exam.file.url}}">[{{exam.get_exam_format}}]</a>
                {% endif %}
              {% if not exam.publishable %}
                </div>
              {% endif %} 
							{% endfor %}
						</td>
						{% endfor %}
					</tr>
					{% endfor %}
                </table>
            <br/>
            </div>
        {% endfor %}
<script type="text/javascript">
    $(document).ready( register_exam_listeners );
</script>        
{% endajaxwrapper %}

{% endblock %}	
